@import './vars.scss';

// main page

// advantages section

.advantages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 180px 0 0;
    max-width: 960px;
    justify-content: center;
    font-family: $centuryGothicFont;

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 200px;
        min-width: 200px;
        text-align: center;
        margin: 25px 10px 0;

        h6 {
            max-width: 150px;
            word-wrap: wrap;
            font-size: 17px;
            line-height: 20px;
            color: $dark-light;
            font-weight: bold;
        }

        small {
            font-size: 12px;
            line-height: 16px;
            color: $text-fade-color;
        }
    }
}

@media screen and (max-width: 991px) {
    .advantages {
        padding: 165px 35px 0 35px;

        div {
            max-width: 180px;
            min-width: 180px;
        }
    }
}

@media screen and (max-width: 680px) {
    .advantages {
        padding: 145px 35px 0 35px;
    }
}

@media screen and (max-width: 500px) {
    .advantages {
        padding: 125px 35px 0 35px;
    }
}

@media screen and (min-width: 320px) {
    .advantages {
        transition: .5s ease all; 
    }
}

// end advantages section

// page links
.pages-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 110px 25px 50px;
    font-family: $centuryGothicFont;

    background-image: url('../images/Layer0.png');
    background-repeat: no-repeat;
    background-position: -57px 0;
    background-size: calc(100% + 80px) auto;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 60px;
        text-align: center; 

        li {
            display: flex;
            justify-content: center;

            .button-link {
                text-transform: none;
                font-size: 22px;
                padding: 20px 10px;
                line-height: 30px;
                color: $dark-text-color;
                text-align: center;

                &::after {
                    margin-top: 10px;
                    background-color: $text-fade-color;
                }

                &:hover {
                    color: $active-color;

                    &::after {
                        background-color: $active-color; 
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .pages-links {
        background-position: -41px 0;
    }
}

@media screen and (max-width: 680px) {
    .pages-links {
        background-position: -14px 0;
    }
}

@media screen and (max-width: 669px) {
    .pages-links {
        background-position: -9px 0;
    }
}
// end page links

// about clinic
.about-clinic {
    font-family: $centuryGothicFont;
    padding: 95px 50px 60px 50px;
    margin: 0;
    background-image: url('../images/Path44.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(100% + 10px) 92%;


    div.first {
        padding-right: 100px;
    }

    .slider {
        .slide {
            text-align: right;

            img {
                max-height: 500px;
                max-width: 412px;
                display: inline;
                margin-right: 3px;
            }       
        }
    }

    article.last {
        padding: 0;

        h2 {
            font-size: 30px;
            line-height: 30px;
            color: $dark-text-color;
            font-weight: bold;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        p {
            max-width: 530px;
            font-size: 12px;
            line-height: 20px;
            color: $dark-text-color;
        }

        .button-link {
            color: $dark-text-color;

            &:hover {
                color: $active-color;

                &::after {
                    background-color: $active-color;
                }
            }

            &::after {
                background-color: $text-fade-color;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .about-clinic {
        div.first  {
            padding-right: 40px;
        }
    }
}

@media screen and (max-width: 991px) {
    .about-clinic {

        div.first {
            padding-right: 0;
            order: 1;
        }

        .slider {
            .slide {
                text-align: center;

                img {
                    max-width: 100%;
                    max-height: auto;
                } 
            }
        }

        article.last {
            text-align: center;

            h4 {
                margin-bottom: 30px;
            }
    
            p {
                max-width: 800px;
                margin: auto;
                font-size: 15px;
                margin-bottom: 20px;
            }
    
            button {
                margin: 40px auto 30px;
            }
        }

        .dark-arrows {
            .position-absolute {
                right: 50%;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .about-clinic {
        article.last {    
            p {
                max-width: 600px;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .about-clinic {
        padding: 60px 0;

        .dark-arrows {
            display: none;
        }

        .slider {
            .slide {
    
                img {
                    margin-right: 0;
                }       
            }
        }

        article.last {    
            padding: 0 30px;

            p {
                font-size: 13px;
            }
        }
    }
}

@media screen and (min-width: 320px) {
    .about-clinic {
        div.first  {
            transition: .5s ease padding;
        }
    }
}
// end about clinic


// articles-promotions
.articles-promotions {
    padding: 50px 160px 50px;
    font-family: $centuryGothicFont;

    background-image: url('../images/Path49.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(100% + 10px) 100%;

    .header {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-size: 30px;
            line-height: 30px;
            color: $dark-text-color;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }

        button.button-link {
            color: $active-color;
            margin-top: 26px; 
            max-width: 80px;

            &:hover {
                color: $text-fade-color;

                &::after {
                    background-color: $text-fade-color;
                }
            }

            &::after {
                background-color: $active-color;
            }
        }
    }

    .articles {
        display: flex;
        justify-content: space-between;

        img {
            max-width: 305px;
        }

        h3 {
            font-size: 22px;
            line-height: 22px;
            color: $dark-text-color;
            font-weight: bold;
            margin-top: 20px; 
        }

        p {
            font-size: 12px;
            line-height: 20px;
            color: $dark-text-color;
            max-width: 305px;
        }
    }
}

@media screen and (max-width: 1350px) {
    .articles-promotions {
        padding: 50px 70px 50px;
    }
}

@media screen and (max-width: 1100px) {
    .articles-promotions {
        padding: 90px 70px 10px;
        .articles {
            flex-direction: column;
            align-items: center;

            img {
                max-width: 500px;
            }

            article {
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (min-width: 320px) {
    .articles-promotions {
        transition: .5s ease padding;

        .articles {
            transition: .5s ease all;
        }
    }
}
// end articles-promotions

// reviews 
.reviews {
    padding: 100px 100px;
    font-family: $centuryGothicFont;
    margin: 0;
    background-image: url('../images/black-sm-path.png');
    background-color: $clip-bg-color;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(100% + 10px) 95%;

    div.first {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 210px;
        justify-content: center;

        h2 {
            font-size: 30px;
            line-height: 30px;
            color: $light-text-color-2;
            font-weight: bold;

            span {
                display: block;
            }
        }

        button.button-link {
            color: $light-text-color;
            margin-top: 50px;

            &:hover {
                color: $active-color;

                &::after {
                    background-color: $active-color; 
                }
            }

            &::after {
                background-color: $light-text-color;
            }
        }
    }

    div.last {
        position: relative;
        padding-left: 40px;
        padding-right: 0;

        .slider {
            .slide {

                margin: 0 3px;

                div {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    img {
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                    }

                    h5 {
                        font-size: 22px;
                        line-height: 22px;
                        color: $light-text-color-2;
                        font-weight: bold;
                        margin-left: 20px;
                    }
                }

                p {
                    max-width: 454px;
                    // max-height: 137px;
                    font-size: 12px;
                    line-height: 20px;
                    color: $active-color;
                }

                span {
                    font-size: 12px;
                    line-height: 20px;
                    color: $light-text-color-2;
                    font-weight: bold;
                }
            }
        }
    
        .position-absolute {
            top: calc(50% - 17px);
            left: 0;
        }

        .slick-new-prev {
            background: url('../images/Group7.png') no-repeat 100% 50%;
            transform: rotate(180deg);
            width: 10px;
            height: 18px;
            border: none;
            position: absolute;
            top: 19px;
            display: block;
            right: 4px;
            z-index: 1;
    
            &:hover {
                cursor: pointer;
            }
    
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    
        .slick-new-next {
            background: url('../images/Group7.png') no-repeat 100% 0;
            width: 18px;
            height: 36px;
            border: none;
            display: block;
            position: absolute;
            top: 10px;
            right: -18px;
            z-index: 1;
    
            &:hover {
                cursor: pointer;
            }
    
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

@media screen and (max-width: 1220px) {
    .reviews {
        padding: 100px 50px;

        div.first {
            padding-left: 110px;
        }
    }
}

@media screen and (max-width: 993px) {
    .reviews {
        div.first {
            padding-left: 50px;
        }
    }
}

@media screen and (max-width: 900px) {
    .reviews {
        div.first {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 100%;
            padding: 0 15px;
            margin-bottom: 40px;

            h2 span {
                display: inline;
            }

            button.button-link {
                margin-top: 30px;
            }
        }

        div.last {
            max-width: 500px;
            margin: auto;

            .slider {
                .slide {
                    div {
                        justify-content: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .reviews {

        div.first h2 {
            text-align: center;
        }
    
        div.last {
            padding-left: 0;

            .slider .slide {
                text-align: center;

                p {
                    margin: auto;
                }
            }
            .position-absolute {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 320px) {
    .reviews {
        transition: .5s ease padding;

        div.first {
            transition: .5s ease all;

            button {
                transition: .5s ease all;
            }
        }
    
        div.last {
        }
    }
}
// end reviews

// about company
.about-company {
    padding: 100px 200px 100px 300px;
    font-family: $centuryGothicFont;

    background-image: url('../images/Rectangle16.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(100% + 10px) 100%;

    h2 {
        font-size: 30px;
        line-height: 30px;
        color: $text-fade-color;
        font-weight: bold;
        margin-bottom: 30px;
    }

    div {
        max-width: 816px;
        padding-right: 50px;
        max-height: 175px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 2px;
        }
         
        &::-webkit-scrollbar-track {
            background-color: $active-alpha;
        }
         
        &::-webkit-scrollbar-thumb {
            background-color: $active-color;
        }

        p {
            font-size: 12px;
            line-height: 20px;
            color: $text-fade-color;    
        }
    }
}

@media screen and (max-width: 1220px) {
    .about-company {
        padding: 100px 100px 100px 215px;
    }
}

@media screen and (max-width: 993px) {
    .about-company {
        padding: 100px 100px 100px 110px;
    }
}

@media screen and (max-width: 768px) {
    .about-company {
        padding: 100px 30px 100px 50px;

        div {
            max-height: 220px;
        }
    }
}

@media screen and (max-width: 500px) {
    .about-company {
        padding: 100px 20px 100px 30px;

        h2 {
            text-align: center;
        }

        div {
            padding-right: 10px;
        }
    }
}

@media screen and (min-width: 320px) {
    .about-company {
        transition: .5s ease padding;
        div {
            transition: .5s ease height;
        }
    }
}
// end about company

// personal care
.personal-care {
    padding: 125px 355px 100px 100px;
    display: flex;
    justify-content: flex-end;

    background-image: url('../images/image-gradient.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(100% + 100px) 95%;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 170px;
        font-family: $centuryGothicFont;

        h2 {
            font-size: 30px;
            line-height: 30px;
            color: $dark-text-color;
            font-weight: bold;
            text-align: center;
        }

        button.button-link {
            color: $dark-text-color;
            margin-top: 60px; 
            max-width: 80px;

            &:hover {
                color: $active-color;

                &::after {
                    background-color: $active-color;
                }
            }

            &::after {
                background-color: $text-fade-color;
            }
        }
    }
}

@media screen and (max-width: 1220px) {
    .personal-care {
        background-size: calc(100% + 216px) 95%;
    }
}

@media screen and (max-width: 1100px) {
    .personal-care {
        padding: 100px 160px 100px 100px;
    }
}

@media screen and (max-width: 900px) {
    .personal-care {
        background-size: calc(100% + 360px) 95%;
        background-position: -108px 0;
    }
}

@media screen and (max-width: 768px) {
    .personal-care {
        padding: 100px 50px;
        justify-content: center;
    }
}

@media screen and (max-width: 680px) {
    .personal-care {
        background-size: calc(100% + 552px) 95%;
    }
}

@media screen and (min-width: 320px) {
    .personal-care {
        transition: .5s ease padding;
    }
}
//end personall care

// end main page

// article page
body.article-page .main {
    background-image: url('../images/Rectangle8.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(100% + 10px) 100%;
    padding: 50px 100px 20px 0;
    margin: 0;
    
    .first {
        z-index: 0;
        padding-right: 95px; 

        .slider {
            max-height: 500px;

            .slide {
                text-align: right;
    
                img {
                    max-height: 500px;
                    max-width: 412px;
                    display: inline;
                    margin-right: 3px;
                }       
            }
        }
    }

    .last {
        h4 {
            font-size: 24px;
            line-height: 24px;
            color: $dark-text-color;
            font-weight: bold;
            margin: 25px 0;

            &:first-child {
                margin-top: 0;
            }
        }

        ul, p {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 25px;
            color: $dark-text-color;
        }

        .contact-info {
            margin-top: 50px;
            padding: 0;
        }
    }
}

@media screen and (max-width: 1300px) {
    body.article-page .main {        
        padding-right: 50px;

        .first {
            padding-right: 50px;
        }
    }
}

@media screen and (max-width: 1100px) {
    body.article-page .main {        
        padding-right: 30px;
        
        .first {
            padding-right: 30px;
        }
    }
}

@media screen and (max-width: 991px) {
    body.article-page .main {        
        padding: 0 50px 20px;
        
        .first {
            padding: 50px 0 100px;

            .slider {
                .slide {
                    text-align: center;
        
                    img {
                        max-width: 100%;
                    }       
                }
            }

            .dark-arrows .position-absolute {
                right: 50%;
            }
        }

        .last {
            h4 {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 680px) {
    body.article-page .main {
        padding: 0;
        
        .first {
            padding-bottom: 50px;

            .slider .slide {
                text-align: center;
    
                img {
                    margin: 0;
                }       
            }
    
            .dark-arrows {
                display: none;
            }
        }
    
        .last {
            padding: 0 30px;
            
            h4 {
                font-size: 18px;
                line-height: 18px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    body.article-page .main .last .contact-info {
        flex-direction: column;
        text-align: center;
        margin-top: 30px;

        span {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            line-height: 18px;

            &::after {
                width: 20%;
            }
        }
        
        button {
            align-self: center;
            margin-top: 20px;
        }
    }
}

@media screen and (min-width: 320px) {
    body.article-page .main {        
        transition: .5s ease padding;

        .first {
            transition: .5s ease padding;

            .slider {
                .slide {
                    transition: .5s ease text-align;
        
                    img {
                        transition: .5s ease width;
                    }       
                }
            }

            .arrows .position-absolute {
                transition: .5s ease right;
            }
        }

        .last {
            transition: .5s ease padding;

            h4 {
                transition: .5s ease all;
            }

            .contact-info {
                transition: .5s ease all;
            }
        }
    }
}
// end article page


// clinic page
// main block
body.clinic-page .main {
    padding: 75px 100px 110px;
    background-image: url('../images/Rectangle8.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(100% + 10px) 100%;

    .first {
        padding-right: 90px;

        h4 {
            font-size: 24px;
            line-height: 24px;
            color: $dark-text-color;
            font-weight: bold;
            margin: 25px 0;

            &:first-child {
                margin-top: 0;
            }
        }

        p {
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 25px;
            color: $dark-text-color;
        }
    }

    .last {
        margin-top: -162px;

        .slider {
            max-height: 720px;

            .slide {
                text-align: right;
    
                img {
                    max-height: 720px;
                    max-width: 100%;
                    display: inline;
                    margin-right: 3px;
                }       
            }
        }

        .dark-arrows .position-absolute {
            left: 50%;
            top: 10px;
            right: unset;
        }
    }
}

@media screen and (max-width: 1200px) {
    body.clinic-page .main {
        padding: 75px 50px 110px 100px;
    
        .first {
            padding-right: 30px;
        }
    }
}

@media screen and (max-width: 991px) {
    body.clinic-page .main {
        padding: 75px 100px 110px;
    
        .first {
            padding-right: 0;
            padding-top: 100px;
            order: 1;
        }
    
        .last {
            margin-top: 0;
    
            .slider .slide {
                text-align: center;   
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body.clinic-page .main {
        padding: 75px 30px 110px;
    
        .first {
            h4 {
                text-align: center;
                font-size: 18px;
                line-height: 18px;
            }
        }
    }
}

@media screen and (min-width: 320px) {
    body.clinic-page .main {
        transition: padding .5s ease;
    
        .first {
            transition: padding .5s ease;

            h4 {
                transition: padding .5s all;
            }
        }

        .last {
            transition: margin .5s ease;
    
            .slider .slide {
                transition: padding .5s text-align;  
            }
        }
    }
}
// end main block

// doctors section
.doctors-section {
    background-image: url('../images/black-sm-path.png'), url('../images/Path44.png');
    background-repeat: no-repeat;
    background-position: 0 0, -20px 111%;
    background-size: calc(100% + 10px) 100%, calc(100% + 50px) 200px;
    font-family: $centuryGothicFont;
    padding: 100px;

    & > div {
        max-width: 1035px;
        margin: auto;

        section {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 0 30px 10px;
    
            h3 {
                font-size: 30px;
                line-height: 30px;
                text-align: center;
                color: $active-color;
                font-weight: bold;
            }
    
            .button-link {
                color: $active-color;
    
                &:hover {
                    color: $light-text-color-2;
    
                    &::after {
                        background-color: $light-text-color-2; 
                    }
                }
    
                &::after {
                    background-color: $active-color;
                }
            }
        }

        .doctors-slider {
            .slide {
                margin: 0 10px;

                img {
                    max-width: 200px;
                    max-height: 265px;
                }

                .hide {
                    .name {
                        font-size: 20px;
                        line-height: 20px;
                        color: $active-color;
                        margin: 20px 0 2px;
                    }

                    .post {
                        font-size: 12px;
                        line-height: 12px;
                        color: $active-color;
                        font-weight: bold;
                        margin: 0;
                    }

                    div {
                        display: flex;
                        padding-top: 30px;

                        .experience {
                            font-size: 12px;
                            line-height: 12px;
                            color: $light-text-color-3;
                            min-width: max-content;
                        }

                        .line {
                            position: relative;
                            width: calc(100% - 10px);
                            margin: 0 10px;

                            &::before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                top: 50%;
                                background-color: $light-text-color-3;
                            }
                        }
                    }

                }
            }
        }
    }
}
// end doctors section

// feedback
.feedback {
    padding: 70px 165px 100px 200px;
    background-image: url('../images/Path44.png');
    background-repeat: no-repeat;
    background-position: -20px -100px;
    background-size: calc(100% + 50px) calc(100% + 100px);
    
    & > div {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: auto;
        max-width: 1100px;

        h2 {
            font-size: 20px;
            line-height: 20px;
            color: $dark-text-color;
            font-weight: bold;
        }
    
        form {
            display: flex;
    
            label {
                margin-right: 25px;
                margin-bottom: 0;
            }
    
            input {
                background-color: transparent;
                padding-bottom: 4px;
                border: 0;
                border-bottom: 1px solid $text-fade-color;
                width: 100%;
                min-width: 200px;
                color: $text-fade-color;
                font-weight: 400;
                font-size: 15px;
                outline: none;
    
                &::placeholder {
                    line-height: 18px;
                    font-size: 13px;
                    line-height: 22px;
                    text-transform: uppercase;
                    color: $text-fade-color;
                    font-weight: 100;
                    -webkit-text-fill-color: $text-fade-color;
                    transition: .5s ease font-size;
                }
    
                &:focus {
                    &::placeholder {
                        font-size: 9px;
                        transition: .5s ease font-size;
                    }
                }
            }
    
            button {
                border: none;
                background-color: #0c0d07;
                color: $active-color;
                text-transform: uppercase;
                min-width: 150px;
                font-size: 12px;
                line-height: 18px;
                font-weight: bold;
                cursor: pointer;
                transition: .5s ease all;

                &:hover {
                    background-color: $active-color;
                    color: $dark-light;
                    transition: .5s ease all;
                }
    
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    
        p {
            margin: 30px 0 0;
            font-size: 11px;
            line-height: 18px;
            color: $text-fade-color;
        }
    }
}

@media (max-width: 1400px) {
    .feedback {
        padding: 70px 100px 100px;
    }
}

@media (max-width: 1200px) {
    .feedback {
        padding: 70px 50px 100px;

        & > div {
            flex-direction: column;
            align-items: center;

            h2 {
                margin-bottom: 40px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 991px) {
    .feedback {
        & > div {
            form {
                flex-direction: column;
        
                label {
                    margin: 0 0 25px 0;
                }
        
                button {
                    max-width: 150px;
                    width: 100%;
                    min-width: 1px;
                    margin: auto;
                }
            }
        
            p {
                text-align: center;
            }
        }
    }
}

@media (min-width: 320px) {
    .feedback {
        transition: padding .5s ease;

        & > div {
            transition: all .5s ease;

            h2 {
                transition: all .5s ease;
            }

            form {
                transition: all .5s ease;
        
                label {
                    transition: margin .5s ease;
                }
        
                button {
                    transition: all .5s ease;
                }
            }
        
            p {
                transition: text-align .5s ease;
            }
        }
    }
}
// end feedback
// end clinic page


// prices page
.prices-section {
    background-image: url('../images/Rectangle8.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(100% + 10px) 100%;
    font-family: $centuryGothicFont;
    margin: 0;
    padding: 50px 100px;

    & > div {
        display: flex;
        justify-content: flex-start;
        padding: 0 0 0 30px;

        &:nth-child(odd) {
            justify-content: flex-end;
            padding: 0 30px 0 0;
        }

        &:nth-child(1), &:nth-child(2) {
            margin-bottom: 100px;
        }

        .content {
            max-width: 540px;
            width: 100%;
            flex-direction: column;
            display: flex;
            align-items: center;

            img {
                border-radius: 50%;
                background-color: $dark-light;
                width: 56px;
                height: 56px;
                padding: 9px;
                margin-bottom: 10px;
            }

            p {
                font-size: 22px;
                color: $dark-light;
                font-weight: bold;
                line-height: 22px;
                text-align: center;
                margin-bottom: 45px;
            }

            & > div {
                width: 100%;
                justify-content: space-between;
                display: flex;
                padding: 10px 0;

                .name {
                    font-size: 18px;
                    line-height: 18px;
                    color: $dark-light;
                    font-weight: bold;
                    max-width: 250px;
                    text-align: center;
                    min-width: max-content;
                }

                .line {
                    position: relative;
                    width: 100%;
                    margin: 0 20px;

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 1px;
                        top: 50%;
                        background-color: $active-color;
                    }
                }

                .price {
                    font-size: 24px;
                    line-height: 24px;
                    color: $active-color;
                    font-weight: bold;
                    min-width: max-content;
                }
            }              
        }
    }
}

@media (max-width: 1200px) {
    .prices-section {
        padding: 50px;
    }
}

@media (max-width: 991px) {
    .prices-section {
        padding: 50px;

        & > div {
            justify-content: center;
            padding: 0;
            margin-bottom: 50px;

            &:nth-child(odd) {
                justify-content: center;
                padding: 0;
            }
    
            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 50px;
            }
        }
    }
}

@media (max-width: 768px) {
    .prices-section {
        padding: 50px 30px;
    }
}

@media (max-width: 500px) {
    .prices-section {
        & > div {
            .content {

                border-bottom: 1px solid $active-color;
                padding-bottom: 25px;

                p {
                    margin-bottom: 25px;
                }
    
                & > div {
                    flex-direction: column;
                    align-items: center;
                    padding: 20px 0;
    
                    .name {
                        max-width: none;
                        margin-bottom: 15px;
                        min-width: 1px;
                    }
    
                    .line {
                        display: none;
                    }
    
                    .price {
                        min-width: 1px;
                    }
                }              
            }
        }
    }
}

@media (min-width: 320px) {
    .prices-section {
        transition: padding .5s ease;

        * {
            transition: all .5s ease;
        }
    }
}
// end prices page


// useful page
.article-tiles {
    padding: 0 100px;
    font-family: $centuryGothicFont;
    background-image: url('../images/Rectangle16.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(100% + 10px) 100%;

    .tiles-grid {
        max-width: 1205px;
        margin: auto;
        transform: translateY(-80px);

        .item {
            padding: 40px;

            h4 {
                font-size: 22px;
                line-height: 22px;
                color: $dark-text-color;
                font-weight: bold;
                margin: 20px 0;
            }
    
            p {
                font-size: 12px;
                line-height: 12px;
                color: $dark-text-color;
            }
        }
    }

    .pagination {
        li {
            .page-link {
                border: none;
                border-radius: 5px;
                color: $dark-text-color;
                padding: 8px 12px;
                margin: 0 5px;
    
                &:hover {
                    color: white;
                    background-color: $active-alpha;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            &.active .page-link {
                background-color: $active-color;
                color: white;
            }
        }

        * {
            transition: all .3s ease;
        }
    }
}

@media (max-width: 1200px) {
    .article-tiles {
    
        .tiles-grid {
    
            .item {
                padding: 30px;
            }
        }
    }
}

@media (max-width: 991px) {
    .article-tiles {
        padding: 0 50px;

        .tiles-grid {
            transform: translateY(0);
    
            .item {
                padding: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .article-tiles {
        padding: 0;
    }
}

@media (min-width: 320px) {
    .article-tiles {
       transition: padding .5s ease;

       * {
           transition: all .5s ease;
       }
    }
}
// end useful page
