body {
  font-family: "Century Gothic";
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(175, 154, 104, 0.4);
}

body::-webkit-scrollbar-thumb {
  background-color: #af9a68;
}

.a-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.a-link:hover {
  text-decoration: none;
  color: inherit;
}

.h1-breadcrum h1 {
  font-size: 50px;
  line-height: 50px;
  color: #d2d3cd;
  font-weight: bold;
  text-align: center;
}

.h1-breadcrum span {
  font-size: 10px;
  letter-spacing: 0px;
  line-height: 13px;
  color: #d2d3cd;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.h1-breadcrum span a:hover {
  color: #af9a68;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

.h1-breadcrum span.angle svg {
  height: 7px;
  width: 10px;
  fill: #d2d3cd;
}

@media screen and (max-width: 768px) {
  .h1-breadcrum h1 {
    font-size: 30px;
    line-height: 30px;
  }
}

@media screen and (min-width: 320px) {
  .h1-breadcrum h1 {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 100px 30px 100px;
}

.contact-info span {
  color: #212429;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

.contact-info span::after {
  content: '';
  height: 1px;
  margin: auto;
  margin-top: 8px;
  width: 80%;
  background-color: #212429;
  -webkit-transition: .5s ease background-color, .5s ease width;
  transition: .5s ease background-color, .5s ease width;
}

.contact-info button {
  color: #212429;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  padding: 0;
  cursor: pointer;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

.contact-info button:hover {
  color: #af9a68;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

.contact-info button:hover::after {
  background-color: #af9a68;
  width: 100%;
  -webkit-transition: .5s ease width, .5s ease background-color;
  transition: .5s ease width, .5s ease background-color;
}

.contact-info button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-info button::after {
  content: '';
  height: 1px;
  margin: auto;
  margin-top: 8px;
  width: 80%;
  background-color: #212429;
  -webkit-transition: .5s ease width, .5s ease background-color;
  transition: .5s ease width, .5s ease background-color;
}

.button-link {
  color: #212429;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  padding: 0;
  cursor: pointer;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

.button-link:hover {
  color: #af9a68;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

.button-link:hover::after {
  background-color: #af9a68;
  width: 100%;
  -webkit-transition: .5s ease width, .5s ease background-color;
  transition: .5s ease width, .5s ease background-color;
}

.button-link:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-link::after {
  content: '';
  height: 1px;
  margin: auto;
  margin-top: 8px;
  width: 80%;
  background-color: #212429;
  -webkit-transition: .5s ease width, .5s ease background-color;
  transition: .5s ease width, .5s ease background-color;
}

.dark-arrows {
  position: relative;
  z-index: 5;
}

.dark-arrows .position-absolute {
  top: 0;
  right: 206px;
}

.dark-arrows .slick-new-prev {
  background: url("../images/Group35.png") no-repeat 100% 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 10px;
  height: 18px;
  border: none;
  position: absolute;
  top: 19px;
  right: 4px;
  z-index: 1;
  cursor: pointer;
}

.dark-arrows .slick-new-prev:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dark-arrows .slick-new-next {
  background: url("../images/Group35.png") no-repeat 100% 0;
  width: 18px;
  height: 36px;
  border: none;
  position: absolute;
  top: 10px;
  right: -18px;
  z-index: 1;
  cursor: pointer;
}

.dark-arrows .slick-new-next:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-fone {
  background-image: url("../images/Fon.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2000;
  font-family: "Century Gothic";
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: none;
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.modal-fone.open {
  display: block;
}

.modal-fone.open-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.modal-fone .logo {
  text-align: center;
  padding-top: 65px;
}

.modal-fone .logo img {
  max-width: 130px;
}

.thank-you {
  background-image: url("../images/Fon.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 2000;
  font-family: "Century Gothic";
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: none;
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.thank-you.open {
  display: block;
}

.thank-you.open-active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, -webkit-transform .5s ease;
  transition: opacity .5s ease, transform .5s ease;
  transition: opacity .5s ease, transform .5s ease, -webkit-transform .5s ease;
}

.thank-you .logo {
  text-align: center;
  padding-top: 65px;
}

.thank-you .logo img {
  max-width: 130px;
}

.thank-you .text {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
}

.thank-you .text h1 {
  font-size: 48px;
  line-height: 48px;
  margin: auto;
  max-width: 430px;
  color: #af9a68;
  font-weight: bold;
  text-align: center;
  z-index: 2;
}

.thank-you .text h1 .thin {
  font-weight: lighter;
}

.thank-you img.rotate-lines {
  z-index: 0;
  position: absolute;
  width: 100%;
  -webkit-transform: rotate(190deg);
          transform: rotate(190deg);
  bottom: 16px;
  left: 0;
}

@media screen and (max-width: 992px) {
  .thank-you .text h1 {
    font-size: 30px;
    line-height: 30px;
    max-width: 320px;
  }
}

@media screen and (max-width: 500px) {
  .thank-you .text h1 {
    font-size: 20px;
    line-height: 20px;
    max-width: 220px;
  }
}

@media screen and (min-width: 320px) {
  .thank-you .text h1 {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

.registration > .register-cont {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.registration > .register-cont .registration-form {
  position: relative;
  height: 380px;
  z-index: 1;
  width: 280px;
  font-family: "Century Gothic";
  background-image: url("../images/Icons/dental-care-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: auto;
}

.registration > .register-cont .registration-form h4 {
  color: #af9a68;
  font-size: 20px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}

.registration > .register-cont .registration-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.registration > .register-cont .registration-form form label {
  width: 100%;
}

.registration > .register-cont .registration-form form input {
  background-color: transparent;
  padding-bottom: 4px;
  border: 0;
  border-bottom: 1px solid rgba(175, 154, 104, 0.4);
  width: 100%;
  color: #c6c7c1;
  font-weight: 400;
  font-size: 15px;
  outline: none;
}

.registration > .register-cont .registration-form form input::-webkit-input-placeholder {
  font-size: 11px;
  line-height: 18px;
  color: rgba(175, 154, 104, 0.4);
  font-weight: 600;
  -webkit-text-fill-color: rgba(175, 154, 104, 0.4);
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.registration > .register-cont .registration-form form input:-ms-input-placeholder {
  font-size: 11px;
  line-height: 18px;
  color: rgba(175, 154, 104, 0.4);
  font-weight: 600;
  -webkit-text-fill-color: rgba(175, 154, 104, 0.4);
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.registration > .register-cont .registration-form form input::-ms-input-placeholder {
  font-size: 11px;
  line-height: 18px;
  color: rgba(175, 154, 104, 0.4);
  font-weight: 600;
  -webkit-text-fill-color: rgba(175, 154, 104, 0.4);
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.registration > .register-cont .registration-form form input::placeholder {
  font-size: 11px;
  line-height: 18px;
  color: rgba(175, 154, 104, 0.4);
  font-weight: 600;
  -webkit-text-fill-color: rgba(175, 154, 104, 0.4);
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.registration > .register-cont .registration-form form input:focus {
  border-bottom: 2px solid rgba(175, 154, 104, 0.4);
}

.registration > .register-cont .registration-form form input:focus::-webkit-input-placeholder {
  font-size: 9px;
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.registration > .register-cont .registration-form form input:focus:-ms-input-placeholder {
  font-size: 9px;
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.registration > .register-cont .registration-form form input:focus::-ms-input-placeholder {
  font-size: 9px;
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.registration > .register-cont .registration-form form input:focus::placeholder {
  font-size: 9px;
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.registration > .register-cont .registration-form form button {
  background-color: #af9a68;
  color: #212429;
  height: 25px;
  width: 200px;
  font-weight: bold;
  line-height: 11px;
  font-size: 13px;
  margin: 20px 0 25px;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  border-radius: 2px;
}

.registration > .register-cont .registration-form form button:hover {
  background-color: rgba(175, 154, 104, 0.4);
  color: #d2d3cd;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.registration > .register-cont .registration-form form button:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(175, 154, 104, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(175, 154, 104, 0.25);
}

.registration > .register-cont .registration-form p {
  font-size: 11px;
  line-height: 13px;
  color: #d2d3cd;
  font-weight: bold;
}

.registration img.rotate-lines {
  z-index: 0;
  position: absolute;
  width: calc(100% + 100px);
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  bottom: 16px;
  left: -48px;
}
/*# sourceMappingURL=commonClasses.css.map */