@import './vars.scss';

.footer {
    position: relative;
    overflow: hidden;
    font-family: $centuryGothicFont;

    background-image: url('../images/Path49.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(100% + 10px) 100%;

    .navbar-f {
        display: flex;
        flex-direction: column;
        padding: 0;
        position: relative;
        z-index: 2;

        div {
            display: flex;
            width: 100%;
            margin-bottom: 20px;
            padding-right: 95px;

            .navigation {
                display: flex;
                flex-direction: row;
                margin: auto;
                text-transform: uppercase;
                
                a {
                    font-size: 13px;
                    padding: 8px 30px;
                    transition: .5s ease color;
                    line-height: 13px;
                    color: $dark-light;


                    &:hover {
                        color: $active-color;
                        transition: .5s ease color;
                    }
                }
            }

            .socials {
                flex-direction: column;

                svg {
                    height: 18px;
                    fill: $active-color;
                    transform: scale(1);
                    transition: .5s ease transform;
            
                    &:hover {
                        transform: scale(1.1);
                        transition: .5s ease transform;
                    }
                } 
            }
        }

        .navbar-brand {
            max-height: 73px;
        }
    }

    .copyright {
        background-color: $dark-light;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin-bottom: 0;
            text-align: center;
            font-size: 11px;
            line-height: 16px;
            color: $active-color;
        }
    }
}

@media screen and (max-width: 992px) {
    .footer .navbar div {
        padding-right: 45px;
    }
}

@media screen and (max-width: 850px) {
    .footer .navbar div {
        padding-right: 0;
        flex-direction: column;
        align-items: center;

        .socials {
            flex-direction: row;

            a {
                padding: 30px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        .navbar div {
            .navigation a {
                padding: 8px 20px;
            }
        }

        .contact-info {
            padding: 40px 30px 30px 30px;
        }
    }
}

@media screen and (max-width: 600px) {
    .footer {
        .navbar div .navigation {
            flex-direction: column;
            a {
                padding: 20px 20px;
            }
        }

        .contact-info {
            flex-direction: column;
            text-align: center;
            padding-top: 20px;
    
            span {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                line-height: 18px;
    
                &::after {
                    width: 20%;
                }
            }
    
            button {
                align-self: center;
                margin-top: 20px;
            }
        }
    }
}

@media screen and (min-width: 320px) {
    .footer {
        transition: padding .5s ease;

        .navbar {
            div {
                transition: .5s ease padding;
    
                .navigation {
                    
                    a {
                        transition: .5s ease padding; 
                    }
                }
            }
    
        }
    
        .contact-info {
            transition: .5s ease padding;
        }
    }
}

// 404 page
.footer.page-not-found {
    padding-top: 150px;
    background-image: none;
}
// end 404 page

// article page
.footer.article-page {
    padding-top: 160px;
    overflow: hidden;

    img.rotate-lines {
        z-index: 0;
        position: absolute;
        width: 100%;
        transform: rotate(8deg);
        top: 16px;
        left: 0;
    }
    .contact-info {
        z-index: 5;
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .footer.article-page {
        padding-top: 80px;

        img.rotate-lines {
            display: none;
        }
    }
}

@media screen and (min-width: 320px) {
    .footer.article-page {
        transition: .5s ease padding;
    }
}
// end article page

// clinic page
.footer.clinic-page {
    padding-top: 160px;
    overflow: hidden;

    .rotate-lines {
        z-index: 0;
        position: absolute;
        width: calc(100% + 200px);
        top: -15px;
        left: -120px;
        transform: rotate(2deg);
    }
    .contact-info {
        z-index: 5;
        position: relative;
    }
}

@media screen and (max-width: 600px) {
    .footer.clinic-page {
        padding-top: 80px;

        img.rotate-lines {
            display: none;
        }
    }
}

@media screen and (min-width: 320px) {
    .footer.article-page {
        transition: .5s ease padding;
    }
}
// end clinic page

// contact page
.footer.contact-page {
    background-image: url('../images/Layer0.png'), url('../images/Path49.png');
    background-repeat: no-repeat;
    background-position: -49px 255px, 0 0;
    background-size: calc(100% + 80px) auto, calc(100% + 10px) 100%;
    padding-top: 380px;
    overflow: hidden;

    .contact-info {
        z-index: 5;
    }
}

#map {
    max-height: 500px;
    height: 100vh;
    width: 80%;
    margin: auto;
    position: absolute !important;
    z-index: 2;
    top: 55%;
    left: 10%;
}

@media screen and (max-width: 1150px) {
    .footer.contact-page {
        background-position: -49px 320px, 0 0;
    }
}

@media screen and (max-width: 991px) {
    .footer.contact-page {
        padding-top: 200px;
        background-image: none, url('../images/Path49.png');
    }

    #map {
        max-height: 350px;
        width: 100%;
        margin: auto;
        left: 0;
    }
}

@media screen and (max-width: 768px) {
    .footer.contact-page {
        padding-top: 100px;
    }

    #map {
        top: 0;
        position: relative !important;
    }
}

@media screen and (min-width: 320px) {
    .footer.contact-page {
        transition: .5s ease padding, .5s ease background-position;
    }

    #map {
        transition: all .5s ease;
    }
}
// end contact page

// prices page
.footer.prices-page {
    padding-top: 160px;
    overflow: hidden;

    .rotate-lines {
        z-index: 0;
        position: absolute;
        width: calc(100% + 100px);
        transform: rotate(-1deg);
        top: 30px;
        left: -44px;
    }
    .contact-info {
        z-index: 5;
        position: relative;

        
    }
}

@media screen and (max-width: 600px) {
    .footer.prices-page {
        padding-top: 0;

        img.rotate-lines {
            display: none;
        }
    }
}

@media screen and (min-width: 320px) {
    .footer.prices-page {
        transition: .5s ease padding;
    }
}
// end prices page

// services page
body.services-page {
    position: relative;
    overflow: hidden;
    overflow-y: auto;

    img.lines {
        position: absolute;
        z-index: 0;
        bottom: 11%;
        left: -47px;
        width: calc(100% + 100px);
        transform: rotate(-3deg);
    }

    @media (max-width: 768px) {
        img.lines {
            display: none;
        }
    }
}

.footer.services-page {
    padding-top: 100px;

    & > * {
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 768px) {
    .footer.services-page {
        padding-top: 50px;
    }
}
// end services page

// services category page
.footer.services-category-page {
    padding-top: 100px;

    & > * {
        position: relative;
        z-index: 2;
    }
}
// end services category page

// doctors page

// end doctors page
