.footer {
  position: relative;
  font-family: "Century Gothic";
}

@media screen and (max-width: 1100px) {
  .footer {
    background-image: url("../images/Path49.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: calc(100% + 10px) 100%;
  }
}

.footer .navbar-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.footer .navbar-f div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 95px;
}

.footer .navbar-f div .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  text-transform: uppercase;
}

.footer .navbar-f div .navigation a {
  font-size: 13px;
  padding: 8px 30px;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
  line-height: 13px;
  color: #212429;
}

.footer .navbar-f div .navigation a:hover {
  color: #af9a68;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

.footer .navbar-f div .socials {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .navbar-f div .socials svg {
  height: 18px;
  fill: #af9a68;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s ease transform;
  transition: .5s ease transform;
}

.footer .navbar-f div .socials svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s ease transform;
  transition: .5s ease transform;
}

.footer .navbar-f .navbar-brand {
  max-height: 73px;
}

.footer .copyright {
  background-color: #212429;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .copyright p {
  margin-bottom: 0;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  color: #af9a68;
}

@media screen and (max-width: 992px) {
  .footer .navbar div {
    padding-right: 45px;
  }
}

@media screen and (max-width: 850px) {
  .footer .navbar div {
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .navbar div .socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .navbar div .socials a {
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .footer .navbar div .navigation a {
    padding: 8px 20px;
  }
  .footer .contact-info {
    padding: 40px 30px 30px 30px;
  }
}

@media screen and (max-width: 600px) {
  .footer .navbar div .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .navbar div .navigation a {
    padding: 20px 20px;
  }
  .footer .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  .footer .contact-info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    line-height: 18px;
  }
  .footer .contact-info span::after {
    width: 20%;
  }
  .footer .contact-info button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 320px) {
  .footer .navbar div {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
  .footer .navbar div .navigation a {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
  .footer .contact-info {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
}

.footer.page-not-found {
  padding-top: 150px;
  background-image: none;
}

.footer.article-page {
  background-image: url("../images/Path49.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: calc(100% + 10px) 100%;
  padding-top: 160px;
  overflow: hidden;
}

.footer.article-page img.rotate-lines {
  z-index: 0;
  position: absolute;
  width: 100%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  top: 16px;
  left: 0;
}

.footer.article-page .contact-info {
  z-index: 5;
  position: relative;
}

@media screen and (max-width: 600px) {
  .footer.article-page {
    padding-top: 80px;
  }
  .footer.article-page img.rotate-lines {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .footer.article-page {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
}

.footer.clinic-page {
  background-image: url("../images/Path49.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: calc(100% + 10px) 100%;
  padding-top: 160px;
  overflow: hidden;
}

.footer.clinic-page .rotate-lines {
  z-index: 0;
  position: absolute;
  width: calc(100% + 200px);
  top: -15px;
  left: -120px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.footer.clinic-page .contact-info {
  z-index: 5;
  position: relative;
}

@media screen and (max-width: 600px) {
  .footer.clinic-page {
    padding-top: 80px;
  }
  .footer.clinic-page img.rotate-lines {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .footer.article-page {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
}

.footer.contact-page {
  background-image: url("../images/Layer0.png"), url("../images/Path49.png");
  background-repeat: no-repeat;
  background-position: -49px 287px, 0 0;
  background-size: calc(100% + 80px) auto, calc(100% + 10px) 100%;
  padding-top: 160px;
  overflow: visible;
}

.footer.contact-page nav {
  margin-top: 150px;
}

.footer.contact-page .map-cont {
  margin: -400px 0 0;
  display: block;
  max-width: 100%;
  text-align: center;
  padding: 0 50px;
  max-height: 530px;
  position: relative;
}

.footer.contact-page .map-cont div {
  position: absolute;
  bottom: 30%;
  right: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer.contact-page .map-cont div p.text {
  background-color: #af9a68;
  color: #212429;
  font-size: 12px;
  line-height: 13px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px;
  padding: 10px;
}

.footer.contact-page .map-cont img.map {
  max-width: 1230px;
  width: 100%;
}

.footer.contact-page .rotate-lines {
  z-index: 0;
  position: absolute;
  width: calc(100% + 200px);
  top: 230px;
  left: -52px;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.footer.contact-page .contact-info {
  z-index: 5;
}

@media screen and (max-width: 1150px) {
  .footer.contact-page {
    background-position: -49px 228px, 0 0;
  }
  .footer.contact-page .map-cont div {
    right: 44%;
  }
}

@media screen and (max-width: 991px) {
  .footer.contact-page {
    background-position: -49px 145px, 0 0;
  }
  .footer.contact-page .map-cont div {
    right: 43%;
  }
}

@media screen and (max-width: 768px) {
  .footer.contact-page {
    padding-top: 40px;
    background-image: none, url("../images/Path49.png");
  }
  .footer.contact-page .map-cont {
    margin: 0;
    padding: 0;
  }
  .footer.contact-page .map-cont div {
    right: 41%;
  }
  .footer.contact-page .map-cont div .point {
    max-width: 17px;
  }
  .footer.contact-page .map-cont div p.text {
    padding: 5px;
  }
  .footer.contact-page nav {
    margin-top: 70px;
  }
}

@media screen and (max-width: 600px) {
  .footer.contact-page .map-cont div {
    right: 39%;
  }
}

@media screen and (max-width: 500px) {
  .footer.contact-page .map-cont div {
    right: 37%;
  }
}

@media screen and (max-width: 400px) {
  .footer.contact-page .map-cont div {
    right: 33%;
  }
}

@media screen and (max-width: 350px) {
  .footer.contact-page .map-cont div {
    right: 30%;
  }
}

@media screen and (min-width: 320px) {
  .footer.contact-page {
    -webkit-transition: .5s ease padding, .5s ease background-position;
    transition: .5s ease padding, .5s ease background-position;
  }
  .footer.contact-page .map-cont {
    -webkit-transition: .5s ease padding, .5s ease margin;
    transition: .5s ease padding, .5s ease margin;
  }
  .footer.contact-page .map-cont div {
    -webkit-transition: .5s ease right;
    transition: .5s ease right;
  }
  .footer.contact-page .map-cont div .point {
    -webkit-transition: .5s ease width;
    transition: .5s ease width;
  }
  .footer.contact-page .map-cont div p.text {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
  .footer.contact-page nav {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
}

.footer.prices-page {
  background-image: url("../images/Path49.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: calc(100% + 10px) 100%;
  padding-top: 160px;
  overflow: hidden;
}

.footer.prices-page .rotate-lines {
  z-index: 0;
  position: absolute;
  width: calc(100% + 100px);
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  top: 30px;
  left: -44px;
}

.footer.prices-page .contact-info {
  z-index: 5;
  position: relative;
}

@media screen and (max-width: 600px) {
  .footer.prices-page {
    padding-top: 0;
  }
  .footer.prices-page img.rotate-lines {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .footer.prices-page {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
}
/*# sourceMappingURL=footer.css.map */