.footer {
  position: relative;
  overflow: hidden;
  font-family: "Century Gothic";
  background-image: url("../images/Path49.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: calc(100% + 10px) 100%;
}

.footer .navbar-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  position: relative;
  z-index: 2;
}

.footer .navbar-f div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 95px;
}

.footer .navbar-f div .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  text-transform: uppercase;
}

.footer .navbar-f div .navigation a {
  font-size: 13px;
  padding: 8px 30px;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
  line-height: 13px;
  color: #212429;
}

.footer .navbar-f div .navigation a:hover {
  color: #af9a68;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

.footer .navbar-f div .socials {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .navbar-f div .socials svg {
  height: 18px;
  fill: #af9a68;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s ease transform;
  transition: .5s ease transform;
}

.footer .navbar-f div .socials svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s ease transform;
  transition: .5s ease transform;
}

.footer .navbar-f .navbar-brand {
  max-height: 73px;
}

.footer .copyright {
  background-color: #212429;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .copyright p {
  margin-bottom: 0;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
  color: #af9a68;
}

@media screen and (max-width: 992px) {
  .footer .navbar div {
    padding-right: 45px;
  }
}

@media screen and (max-width: 850px) {
  .footer .navbar div {
    padding-right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .navbar div .socials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer .navbar div .socials a {
    padding: 30px;
  }
}

@media screen and (max-width: 768px) {
  .footer .navbar div .navigation a {
    padding: 8px 20px;
  }
  .footer .contact-info {
    padding: 40px 30px 30px 30px;
  }
}

@media screen and (max-width: 600px) {
  .footer .navbar div .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .navbar div .navigation a {
    padding: 20px 20px;
  }
  .footer .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  .footer .contact-info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    line-height: 18px;
  }
  .footer .contact-info span::after {
    width: 20%;
  }
  .footer .contact-info button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 320px) {
  .footer {
    -webkit-transition: padding .5s ease;
    transition: padding .5s ease;
  }
  .footer .navbar div {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
  .footer .navbar div .navigation a {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
  .footer .contact-info {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
}

.footer.page-not-found {
  padding-top: 150px;
  background-image: none;
}

.footer.article-page {
  padding-top: 160px;
  overflow: hidden;
}

.footer.article-page img.rotate-lines {
  z-index: 0;
  position: absolute;
  width: 100%;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
  top: 16px;
  left: 0;
}

.footer.article-page .contact-info {
  z-index: 5;
  position: relative;
}

@media screen and (max-width: 600px) {
  .footer.article-page {
    padding-top: 80px;
  }
  .footer.article-page img.rotate-lines {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .footer.article-page {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
}

.footer.clinic-page {
  padding-top: 160px;
  overflow: hidden;
}

.footer.clinic-page .rotate-lines {
  z-index: 0;
  position: absolute;
  width: calc(100% + 200px);
  top: -15px;
  left: -120px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.footer.clinic-page .contact-info {
  z-index: 5;
  position: relative;
}

@media screen and (max-width: 600px) {
  .footer.clinic-page {
    padding-top: 80px;
  }
  .footer.clinic-page img.rotate-lines {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .footer.article-page {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
}

.footer.contact-page {
  background-image: url("../images/Layer0.png"), url("../images/Path49.png");
  background-repeat: no-repeat;
  background-position: -49px 255px, 0 0;
  background-size: calc(100% + 80px) auto, calc(100% + 10px) 100%;
  padding-top: 380px;
  overflow: hidden;
}

.footer.contact-page .contact-info {
  z-index: 5;
}

#map {
  max-height: 500px;
  height: 100vh;
  width: 80%;
  margin: auto;
  position: absolute !important;
  z-index: 2;
  top: 55%;
  left: 10%;
}

@media screen and (max-width: 1150px) {
  .footer.contact-page {
    background-position: -49px 320px, 0 0;
  }
}

@media screen and (max-width: 991px) {
  .footer.contact-page {
    padding-top: 200px;
    background-image: none, url("../images/Path49.png");
  }
  #map {
    max-height: 350px;
    width: 100%;
    margin: auto;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer.contact-page {
    padding-top: 100px;
  }
  #map {
    top: 0;
    position: relative !important;
  }
}

@media screen and (min-width: 320px) {
  .footer.contact-page {
    -webkit-transition: .5s ease padding, .5s ease background-position;
    transition: .5s ease padding, .5s ease background-position;
  }
  #map {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

.footer.prices-page {
  padding-top: 160px;
  overflow: hidden;
}

.footer.prices-page .rotate-lines {
  z-index: 0;
  position: absolute;
  width: calc(100% + 100px);
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
  top: 30px;
  left: -44px;
}

.footer.prices-page .contact-info {
  z-index: 5;
  position: relative;
}

@media screen and (max-width: 600px) {
  .footer.prices-page {
    padding-top: 0;
  }
  .footer.prices-page img.rotate-lines {
    display: none;
  }
}

@media screen and (min-width: 320px) {
  .footer.prices-page {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
}

body.services-page {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

body.services-page img.lines {
  position: absolute;
  z-index: 0;
  bottom: 11%;
  left: -47px;
  width: calc(100% + 100px);
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

@media (max-width: 768px) {
  body.services-page img.lines {
    display: none;
  }
}

.footer.services-page {
  padding-top: 100px;
}

.footer.services-page > * {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .footer.services-page {
    padding-top: 50px;
  }
}

.footer.services-category-page {
  padding-top: 100px;
}

.footer.services-category-page > * {
  position: relative;
  z-index: 2;
}
/*# sourceMappingURL=footer.css.map */