@import './vars.scss';
@import './font-size.scss';

// main page
header {
    &.header {
        position: relative;
        font-family: $centuryGothicFont;
        padding: 91px 0 0;
    }

    .header-socials{
        position: absolute;
        list-style-type: none;
        padding: 0;
        margin: 0;
        top: 49%;
        left: 5%;
        z-index: 2;

        li:not(:last-child) {
            margin-bottom: 14px;
        }
        svg  {
            height: 18px;
            fill: $active-color;

            &:hover {
                transform: scale(1.1);
                transition: .5s ease transform;
            }
        }
    }

    .black-rectangle {
        width: 611px;
        height: 473px;
        background-color: #0c0d07;
        position: absolute;
        left: 0;
        top: 60px;
        z-index: -1;
    }

    .slider {
        margin-top: 20px;   
        
        .slide {
            display: flex !important;
            
            div.col-6 {
                display: flex;
                justify-content: center;
                align-items: flex-start;

                &.first {
                    padding-left: 265px;
                    flex-direction: column;
                }
            }
            
            .text {
                max-width: 365px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    color: $active-color;
                    @include font-size(50px);

                    span {
                        font-weight: bold;
                    }
                }

                p {
                    color: $light-text-color;
                    @include font-size(13px);
                    line-height: 16px;
                    font-weight: 500;
                }
            }

            .buttonGroupe  {
                position: relative;
                &:not(.max-w-900) {
                    min-width: 100%;
                }
                button.button-link {
                    color: $active-color;
                    margin-top: 26px; 
                    max-width: 80px;

                    &:hover {
                        color: $light-text-color-2;

                        &::after {
                            background-color: $light-text-color-2; 
                        }
                    }

                    &::after {
                        background-color: $active-color;
                    }
                }
            }

            .buttonGroupe.max-w-900 {
                display: none;
            }

            .imageCont {
                position: relative;

                img {
                   float: right;
                   max-height: 580px;
                }

                img.with-black-bg {
                    margin-right: 200px;
                }
                img.without-bg {
                    margin-right: auto;
                    margin-top: 73px;
                }
            }
        }

        .slick-new-prev {
            // background: url('../images/Group7.png') no-repeat 0 50%;
            background: url('../images/Group7.png') no-repeat 100% 50%;
            transform: rotate(180deg);
            width: 10px;
            height: 18px;
            border: none;
            position: absolute;
            top: 19px;
            right: 4px;
            z-index: 1;
            cursor: pointer;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }

        .slick-new-next {
            background: url('../images/Group7.png') no-repeat 100% 0;
            width: 18px;
            height: 36px;
            border: none;
            position: absolute;
            top: 10px;
            right: -18px;
            z-index: 1;
            cursor: pointer;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

    .contact-info {
        padding: 25px 100px 0 100px;

        span {
            color: $light-text-color;

            &::after {
                background-color: $light-text-color;
            }
        }

        button {
            color: $light-text-color;

            &:hover {
                color: $active-color;

                &::after {
                    background-color: $active-color; 
                }
            }

            &::after {
                background-color: $light-text-color;
            }
        }
    }
}

.contact-form-section {
    position: absolute;
    right: 0;
    top: 29%;
    height: 380px;
    z-index: 1;
    width: 360px;
    background-color: $dark-light;
    font-family: $centuryGothicFont;
    padding: 50px 100px 50px 50px;

    h4 {
        color: $active-color;
        @include font-size(20px);
        font-weight: bold;
        margin-bottom: 18px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
            width: 100%;
        }

        input {
            background-color: transparent;
            padding-bottom: 4px;
            border: 0;
            border-bottom: 1px solid $active-alpha;
            width: 100%;
            color: $light-text-color;
            font-weight: 400;
            @include font-size(15px);
            outline: none;

            &::placeholder {
                font-size: 11px;
                line-height: 18px;
                color: $active-alpha;
                font-weight: 100;
                -webkit-text-fill-color: $active-alpha;
                transition: font-size .5s ease;
            }

            &:focus {
                border-bottom: 2px solid $active-alpha;

                &::placeholder {
                    font-size: 9px;
                    transition: font-size .5s ease;
                }
            }
        }          

        button {
            background-color: $active-color;
            color: $dark-light;
            height: 25px;
            width: 150px;
            font-weight: bold;
            line-height: 11px;
            font-size: 13px;
            @include font-size(13px);
            margin: 20px 0 25px;
            transition: .5s ease all;
            border-radius: 2px;

            &:hover {
                background-color: $active-alpha;
                color: $light-text-color-2;
                transition: .5s ease all;
            }

            &:focus {
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba($color: $active-color, $alpha: .25);
            }
        }
    }

    p {
        font-size: 11px;
        line-height: 13px;
        color: $text-fade-color;
        font-weight: bold;
    }
}

@media screen and (max-width: 1350px) {
    header {

        .black-rectangle {
            right: 81px;
        }

        .slider {

            .slide {
                
                div.col-6.first {
                    padding-left: 200px;
                }

                .imageCont {
                    img.with-black-bg {
                        margin-right: 200px;
                    }
                }
            }
        }
    }

    header .contact-form-section {
        width: 340px;
        padding: 50px 70px 50px 50px;
    }
}

@media screen and (max-width: 1220px) {

    header .contact-form-section {
        width: 310px;
        padding: 30px 50px 30px 50px;
        height: 340px;
        top: 21%;
    }

    header .slider {
        margin-top: 0;
    }

    header .header-socials {
        top: 44%;
    }

    header .slider .slide .imageCont {
        img.with-black-bg {
            max-height: 450px;
            margin-right: 200px;
        }

        img.without-bg {
            max-height: 385px;
            margin-top: 45px;
        }
    }

    header .slider .slide div.col-6.first {
        padding-left: 160px;
    }

    header .black-rectangle {
        height: calc(473px - 130px);
    }

    header .contact-info {
        padding: 60px 100px 0 100px;
    }
}

@media screen and (max-width: 1100px) {
    header .contact-form-section {
        width: 271px;
        height: 317px;
        padding: 30px 30px 30px 30px;
    }

    
    header .black-rectangle {
        width: 488px;
    }

    header .slider .slide .imageCont img.with-black-bg {
        margin-right: 165px;
    }

    header .slider .slide .imageCont img.without-bg {
        max-height: 340px;
    }
}

@media screen and (max-width: 991px) {
    header .contact-form-section {
        display: none;
    }

    header .black-rectangle {
        height: 273px;
        width: 410px;
        top: 31px;
    }

    header .slider .slide .imageCont {
        img.with-black-bg {
            max-height: 340px;
            margin-right: 100px;
        }
        img.without-bg {
            max-height: 306px;
            margin-top: 21px;
        }
    }

    header .header-socials {
        top: 42%;
    }

    header .contact-info {
        padding: 60px 50px 0 50px;
    }
}

@media screen and (max-width: 900px) {

    header .slider .slide div.col-6.imageCont {
        display: none;
    }

    header .slider .slide div.col-6.first {
        padding-left: 0;
        min-width: 100%;
    }

    header .slider .slide .text {

        h1 {
            max-width: 450px;
        }

        p {
            max-width: 400px;
            margin-top: 20px;
        }

        &.image-with-bg, &.image-without-bg {
            background-repeat: no-repeat;
            background-size: auto 220px;
            background-position: center right;
            height: 290px;
            min-width: 72vw;
            margin: auto;
        }

        &.image-without-bg {
            background-image: url('../images/Group52.png');
        }

        &.image-with-bg {
            background-image: url('../images/002.png');
        }
    }

    header .slider .slide .buttonGroupe:not(.max-w-900) {
        display: none;
    }

    header .slider .slide .buttonGroupe.max-w-900 {
        display: block;

        .position-absolute {
            top: 0;
            left: 50%;
        }
    }
}

@media screen and (max-width: 680px) {
    header .slider .slide .text {
        padding: 0 40px;
        text-align: center;

        h1, button.button-link, p {
            max-width: 100%;
        }

        button.button-link {
            margin: 19px auto;
        }

        &.image-without-bg {
            background-image: none;
        }

        &.image-with-bg {
            background-image: none;
        }
    }

    header .slider .slick-new-prev {
        display: none;
    }

    header .slider .slick-new-next {
        display: none;
    }

    header .contact-info {
        padding: 40px 20px 0 20px;
    }
}

@media screen and (max-width: 500px) {
    header .contact-info {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;

        span {
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            line-height: 18px;

            &::after {
                width: 20%;
            }
        }

        button {
            align-self: center;
            margin-top: 20px;
        }
    }

    header .header-socials {
        display: flex;
        justify-content: center;
        position: static;

        li:not(:last-child) {
            margin-bottom: 0;
            margin-right: 20px;
        }
    }
}

@media screen and (min-width: 320px) {
    header {
        .header-socials {
            transition: .5s ease top;
        }

        .black-rectangle {
            transition: .5s ease right, .5s ease height;
        }

        .contact-info {
            transition: .5s ease padding;

            button {
                transition: .5s ease all;
            }
        }

        .slider {
            transition: .5s ease margin;

            .slide div.first {
                transition: .5s ease padding;
            }
            

            .slide .imageCont img {
                transition: .5s ease margin, .5s ease max-height;
            }

            .slide .text {
                transition: .5s ease all;
            }

            .slide .text h1 {
                transition: .5s ease all;
            }

            .slick-new-next {
                transition: .5s ease all;
            }

            .slick-new-prev {
                transition: .5s ease all;
            }
        }
    }
    .contact-form-section {
        transition: .5s ease all;

        form input {
            transition: .5s ease all;
        }
    }
}
// end main page

// 404 page
header.page-not-found {
    background-image: url('../images/Icons/broken-tooth.png');
    background-repeat: no-repeat;
    background-position: 84% 50%;
    background-size: auto;
    padding: 240px 0 150px 320px;
    position: relative;
    font-family: $centuryGothicFont;
            
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            color: $active-color;
            @include font-size(50px);
            line-height: 1;
            font-weight: bold;
            margin-bottom: 20px; 
        }

        p {
            color: $light-text-color-2;
            @include font-size(14px);
            letter-spacing: 0px;
            line-height: 1;
            margin-bottom: 0;
        }

        .contact-info {
            padding: 35px 0 0;
            justify-content: flex-start;
    
            button {
                color: $light-text-color;
    
                &:hover {
                    color: $active-color;
    
                    &::after {
                        background-color: $active-color; 
                    }
                }
    
                &::after {
                    background-color: $light-text-color;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:nth-child(2) {
                    padding: 0 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1190px) {
    header.page-not-found {
        padding-left: 150px;
    }
}

@media screen and (max-width: 992px) {
    header.page-not-found {
        background-position: 50% 30%, 0 0;
        padding: 240px 90px 150px;
        text-align: center;

        .text .contact-info {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 768px) {
    header.page-not-found {
        padding: 240px 50px 150px;
    }
}

@media screen and (max-width: 500px) {
    header.page-not-found {
        background-position: 50% 20%, 0 0;
        padding: 240px 30px 150px;
    }
}

@media screen and (min-width: 320px) {
    header.page-not-found {
        transition: .5s ease padding, .5s ease background-position;
    }
}
// end 404 page

// article page
header.article-page {
    background-image: url('../images/black-sm-rect-flip.png');
    background-repeat: no-repeat;
    background-position: -5px -100px;
    background-size: calc(100% + 10px) calc(100% + 100px);
    padding: 145px 50px 70px;
    font-family: $centuryGothicFont;
    text-align: center;
    background-color: $clip-bg-color;
}

@media (max-width: 768px) {
    header.article-page {
        padding: 145px 30px 70px;
    }
}
// end article page

// clinic page
header.clinic-page {
    background-image: url('../images/black-sm-path.png');
    background-repeat: no-repeat;
    background-position: -5px -100px;
    background-size: calc(100% + 10px) calc(100% + 100px);
    padding: 145px 100px 150px;
    font-family: $centuryGothicFont;
    text-align: center;
    background-color: $clip-bg-color;

    h1 {
        color: $active-color;
    }

    .contact-info {
        padding: 55px 0 0;

        span {
            color: $light-text-color;

            &::after {
                background-color: $light-text-color;
            }
        }

        button {
            color: $light-text-color;

            &:hover {
                color: $active-color;

                &::after {
                    background-color: $active-color; 
                }
            }

            &::after {
                background-color: $light-text-color;
            }
        }
    }
}

@media (max-width: 768px) {
    header.clinic-page {
        padding: 145px 30px 70px;

        .contact-info {
            flex-direction: column;
            text-align: center;
            padding-top: 20px;
    
            span {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                line-height: 18px;
    
                &::after {
                    width: 20%;
                }
            }
    
            button {
                align-self: center;
                margin-top: 20px;
            }
        }
    }
}
// end clinic page

// contacts page
header.contact-page {
    background-image: url('../images/Path1-flip.png');
    background-repeat: no-repeat;
    background-position: -5px -100px;
    background-size: calc(100% + 10px) calc(100% + 100px);
    padding: 145px 100px 290px;
    font-family: $centuryGothicFont;
    text-align: center;
    background-color: white;

    section {
        margin-left: 35px;
    }

    h1 {
        color: $active-color;
    }

    .contact-info {
        padding: 55px 0 0;
        align-items: center;

        span {
            color: $light-text-color;

            &::after {
                background-color: $light-text-color;
            }
        }

        a.big {
            @include font-size(25px);
            line-height: 1;
            color: $light-text-color-2;
            text-align: center;
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 25px;
            }
        }

        button {
            color: $light-text-color;

            &.lover-case {
                text-transform: lowercase;
            }

            &:hover {
                color: $active-color;

                &::after {
                    background-color: $active-color; 
                }
            }

            &::after {
                background-color: $light-text-color;
            }
        }
    }
}

@media (max-width: 768px) {
    header.contact-page {
        padding: 145px 30px 70px;

        section {
            margin-left: 0;
        }

        .contact-info {
            flex-direction: column;
            text-align: center;
            padding-top: 20px;
    
            span {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                line-height: 18px;
    
                &::after {
                    width: 20%;
                }
            }

            a.big {
                font-size: 18px;

                &:first-of-type {
                    margin-top: 20px;
                }
    
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
    
            button {
                align-self: center;
                margin-top: 20px;
            }
        }
    }
}
// end contacts page

// prices page
header.prices-page {
    background-image: url('../images/Path1-flip.png');
    background-repeat: no-repeat;
    background-position: -5px -100px;
    background-size: calc(100% + 10px) calc(100% + 100px);
    padding: 145px 100px 95px;
    font-family: $centuryGothicFont;
    text-align: center;
    background-color: $clip-bg-color;

    h1 {
        color: $active-color;
    }

    .contact-info {
        padding: 55px 0 0;

        span {
            color: $light-text-color;

            &::after {
                background-color: $light-text-color;
            }
        }

        button {
            color: $light-text-color;

            &:hover {
                color: $active-color;

                &::after {
                    background-color: $active-color; 
                }
            }

            &::after {
                background-color: $light-text-color;
            }

            &:nth-child(2) {
                margin-left: 67px;
            }
        }
    }
}

@media (max-width: 768px) {
    header.prices-page {
        padding: 145px 30px 70px;

        .contact-info {
            flex-direction: column;
            text-align: center;
            padding-top: 20px;
    
            span {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                line-height: 18px;
    
                &::after {
                    width: 20%;
                }
            }
    
            button {
                align-self: center;
                margin-top: 20px;

                &:nth-child(2) {
                    margin-left: 0;
                }
            }
        }
    }
}
// end prices page

// services page
header.services-page {
    background-image: url('../images/Path1-flip.png');
    background-repeat: no-repeat;
    background-position: -5px -100px;
    background-size: calc(100% + 10px) calc(100% + 100px);
    padding: 145px 100px 205px;
    font-family: $centuryGothicFont;
    text-align: center;

    h1 {
        color: $active-color;
    }

    .services {
        padding: 60px 0 0;
        margin: 0;
        justify-content: center;
        position: relative;
        z-index: 2;

        & > div {
            display: flex;
            margin-bottom: 50px;
            justify-content: center;
    
            .content {
                flex-direction: column;
                display: flex;
                align-items: center;

                & > span {
                    min-height: 70px;
                }

                button {
                    color: $light-text-color-2;
                    @include font-size(22px);
                    font-weight: bold;
                    line-height: 1;
                    text-align: center;
                    text-transform: none;

                    &::after {
                        margin-top: 12px;
                        background-color: $light-text-color-2;
                    }

                    &:hover {
                        color: $active-color;
                
                        &::after {
                            background-color: $active-color;
                        }
                    }
                }

                ul {
                    margin-top: 15px;

                    li {
                        font-size: 12px;
                        line-height: 12px;
                        color: $active-color;
                        font-weight: bold;
                        padding: 6px 0;
                        text-align: center;
                        transition: color .5s ease;
                        cursor: pointer;

                        &:hover {
                            color: $light-text-color-2;
                        }
                    }
                }
            }
                      
        }
    }
}

@media (max-width: 991px) {
    header.services-page {
        padding: 145px 50px 70px;
    }
}

@media (max-width: 768px) {
    header.services-page {
        padding: 145px 30px 0;
        background-position: 0 0;
        background-size: calc(100% + 10px) calc(100% + 350px);
    }
}

@media (min-width: 320px) {
    header.services-page {
        transition: all .5s ease;
    }
}
// end services page

// useful page
header.useful-page {
    background-image: url('../images/Path1-flip.png');
    background-repeat: no-repeat;
    background-position: -5px -100px;
    background-size: calc(100% + 10px) calc(100% + 100px);
    padding: 145px 100px 95px;
    font-family: $centuryGothicFont;
    text-align: center;
    background-color: $clip-bg-color;

    h1 {
        color: $active-color;
    }

    .contact-info {
        padding: 55px 0 0;

        span {
            color: $light-text-color;

            &::after {
                background-color: $light-text-color;
            }
        }

        button {
            color: $light-text-color;

            &:hover {
                color: $active-color;

                &::after {
                    background-color: $active-color; 
                }
            }

            &::after {
                background-color: $light-text-color;
            }

            &:nth-child(2) {
                margin-left: 67px;
            }
        }
    }
}

@media (max-width: 768px) {
    header.useful-page {
        padding: 145px 30px 70px;

        .contact-info {
            flex-direction: column;
            text-align: center;
            padding-top: 20px;
    
            span {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                line-height: 18px;
    
                &::after {
                    width: 20%;
                }
            }
    
            button {
                align-self: center;
                margin-top: 20px;

                &:nth-child(2) {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (min-width: 320px) {
    header.useful-page {
        transition: padding .5s ease;

        .contact-info {
            transition: all .5s ease;
    
            span {
                transition: all .5s ease;
            }
    
            button {
                transition: all .5s ease;
            }
        }
    }
}
// end useful page

// services category item page
header.categoryItem-page {
    background-image: url('../images/Path1.png');
    background-repeat: no-repeat;
    background-position: -5px -100px;
    background-size: calc(100% + 10px) calc(100% + 100px);
    padding: 145px 100px 95px;
    font-family: $centuryGothicFont;
    text-align: center;
    position: relative;
    z-index: 2;

    h1 {
        color: $active-color;
    }

    .contact-info {
        padding: 55px 0 0;

        span {
            color: $light-text-color;

            &::after {
                background-color: $light-text-color;
            }
        }

        button {
            color: $light-text-color;

            &:hover {
                color: $active-color;

                &::after {
                    background-color: $active-color; 
                }
            }

            &::after {
                background-color: $light-text-color;
            }

            &:nth-child(2) {
                margin-left: 67px;
            }
        }
    }
}

@media (max-width: 768px) {
    header.categoryItem-page {
        padding: 145px 30px 70px;

        .contact-info {
            flex-direction: column;
            text-align: center;
            padding-top: 20px;
    
            span {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                line-height: 18px;
    
                &::after {
                    width: 20%;
                }
            }
    
            button {
                align-self: center;
                margin-top: 20px;

                &:nth-child(2) {
                    margin-left: 0;
                }
            }
        }
    }
}

@media (min-width: 320px) {
    header.categoryItem-page {
        transition: all .5s ease;

        .contact-info {
            transition: all .5s ease;
    
            span {
                transition: all .5s ease;
            }
    
            button {
                transition: all .5s ease;
            }
        }
    }
}
// end services category item page

// services category page
header.services-category-page {
    background-image: url('../images/Path1-flip.png');
    background-repeat: no-repeat;
    background-position: -5px -100px;
    background-size: calc(100% + 10px) calc(100% + 100px);
    background-color: $clip-bg-color;
    padding: 240px 250px 150px 320px;
    position: relative;
    font-family: $centuryGothicFont;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
            
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 3;

        h1 {
            text-align: left;
        }

        p {
            color: $light-text-color-2;
            @include font-size(14px);
            letter-spacing: 0px;
            line-height: 1;
            margin-bottom: 0;
        }

        .contact-info {
            padding: 35px 0 0;
            justify-content: flex-start;
    
            button {
                color: $light-text-color;
    
                &:hover {
                    color: $active-color;
    
                    &::after {
                        background-color: $active-color; 
                    }
                }
    
                &::after {
                    background-color: $light-text-color;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:nth-child(2) {
                    padding: 0 20px;
                }
            }
        }
    }

    & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 3;

        img {
            max-width: 100px;
        }

        button {
            color: $light-text-color-2;
            margin-top: 20px;
    
            &::after {
                background-color: $light-text-color-2;
            }
    
            &:hover {
                color: $active-color;
                transition: .5s ease color;
    
                &::after {
                    background-color: $active-color; 
                    width: 100%;
                    transition: .5s ease width, .5s ease background-color;
                }
            }
        }
    }
}

@media screen and (max-width: 1190px) {
    header.services-category-page {
        padding-left: 150px;
        padding-right: 150px;
    }
}

@media screen and (max-width: 991px) {
    header.services-category-page {
        padding: 240px 90px 150px;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;

        .text .contact-info {
            justify-content: center;
        }

        & > div {
            min-width: 100%;
            margin-top: 40px;
        }
    }
}

@media screen and (max-width: 768px) {
    header.services-category-page {
        padding: 240px 50px 150px;

        .text h1 {
            text-align: center;
        }
    }
}

@media screen and (max-width: 500px) {
    header.services-category-page {
        padding: 240px 30px 150px;
    }
}

@media screen and (min-width: 320px) {
    header.services-category-page {
        transition: .5s ease all;

        .text {
            h1 {
                transition: .5s ease all;
            }

            .contact-info {
                transition: .5s ease all;
            }
        }

        & > div {
            transition: .5s ease all;
        }
    }
}
// services category page

// doctors page
header.doctors-page {
    background-image: url('../images/Path1.png');
    background-repeat: no-repeat;
    background-position: -5px -100px;
    background-size: calc(100% + 10px) calc(100% + 100px);
    padding: 145px 50px 70px;
    font-family: $centuryGothicFont;
    text-align: center;
    background-color: $clip-bg-color;

    h1 {
        color: $active-color;
    }

    .contact-info {
        padding: 55px 0 0;

        span {
            color: $light-text-color;

            &::after {
                background-color: $light-text-color;
            }
        }

        button {
            color: $light-text-color;

            &:hover {
                color: $active-color;

                &::after {
                    background-color: $active-color; 
                }
            }

            &::after {
                background-color: $light-text-color;
            }

            &:nth-child(2) {
                margin-left: 67px;
            }
        }
    }

    .doctors-header {
        max-width: 1035px;
        margin: 100px auto;

        .doctors-slider {
            .slide {
                margin: 0 10px;
    
                img {
                    max-width: 200px;
                    max-height: 265px;
                }
    
                .hide {
                    .name {
                        @include font-size(20px);
                        line-height: 1;
                        color: $active-color;
                        margin: 20px 0 2px;
                    }
    
                    .post {
                        font-size: 12px;
                        line-height: 12px;
                        color: $active-color;
                        font-weight: bold;
                        margin: 0;
                    }
    
                    div {
                        display: flex;
                        padding-top: 30px;
    
                        .experience {
                            font-size: 12px;
                            line-height: 12px;
                            color: $light-text-color-3;
                            min-width: max-content;
                        }
    
                        .line {
                            position: relative;
                            width: calc(100% - 10px);
                            margin: 0 10px;
    
                            &::before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                left: 0;
                                height: 1px;
                                top: 50%;
                                background-color: $light-text-color-3;
                            }
                        }
                    }
    
                }
            }
        }

        .dark-arrows {
        
            .position-absolute {
                top: 20px;
                right: 50%;
            }
        
            .slick-new-prev {
                background: url('../images/Group7.png') no-repeat 100% 50%;
                transform: rotate(180deg);
                width: 10px;
                height: 18px;
                border: none;
                position: absolute;
                top: 19px;
                right: 4px;
                z-index: 1;
                cursor: pointer;
        
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        
            .slick-new-next {
                background: url('../images/Group7.png') no-repeat 100% 0;
                width: 18px;
                height: 36px;
                border: none;
                position: absolute;
                top: 10px;
                right: -18px;
                z-index: 1;
                cursor: pointer;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header.doctors-page {
        padding: 145px 30px 70px;

        .contact-info {
            flex-direction: column;
            text-align: center;
            padding-top: 20px;
    
            span {
                display: flex;
                flex-direction: column;
                padding-top: 20px;
                line-height: 18px;
    
                &::after {
                    width: 20%;
                }
            }
    
            button {
                align-self: center;
                margin-top: 20px;

                &:nth-child(2) {
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (min-width: 320px) {
    header.doctors-page {
        transition: .5s ease all;

        .contact-info {
            transition: .5s ease all;
    
            span {
                transition: .5s ease all;
            }
    
            button {
                transition: .5s ease all;
            }
        }
    }
}
// end doctors page
