header.header {
  position: relative;
  font-family: "Century Gothic";
  padding: 91px 0 0;
}

header .header-socials {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  top: 49%;
  left: 5%;
  z-index: 2;
}

header .header-socials li:not(:last-child) {
  margin-bottom: 14px;
}

header .header-socials svg {
  height: 18px;
  fill: #af9a68;
}

header .header-socials svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s ease transform;
  transition: .5s ease transform;
}

header .black-rectangle {
  width: 611px;
  height: 473px;
  background-color: #0c0d07;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: -1;
}

header .slider {
  margin-top: 20px;
}

header .slider .slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

header .slider .slide div.col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .slider .slide div.col-6.first {
  padding-left: 265px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .slider .slide .text {
  max-width: 365px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .slider .slide .text h1 {
  color: #af9a68;
  font-size: 3.125rem;
}

@media (max-width: 1200px) {
  header .slider .slide .text h1 {
    font-size: calc(1.4375rem + 2.25vw) ;
  }
}

header .slider .slide .text h1 span {
  font-weight: bold;
}

header .slider .slide .text p {
  color: #c6c7c1;
  font-size: 0.8125rem;
  line-height: 16px;
  font-weight: 500;
}

header .slider .slide .buttonGroupe {
  position: relative;
}

header .slider .slide .buttonGroupe:not(.max-w-900) {
  min-width: 100%;
}

header .slider .slide .buttonGroupe button.button-link {
  color: #af9a68;
  margin-top: 26px;
  max-width: 80px;
}

header .slider .slide .buttonGroupe button.button-link:hover {
  color: #d2d3cd;
}

header .slider .slide .buttonGroupe button.button-link:hover::after {
  background-color: #d2d3cd;
}

header .slider .slide .buttonGroupe button.button-link::after {
  background-color: #af9a68;
}

header .slider .slide .buttonGroupe.max-w-900 {
  display: none;
}

header .slider .slide .imageCont {
  position: relative;
}

header .slider .slide .imageCont img {
  float: right;
  max-height: 580px;
}

header .slider .slide .imageCont img.with-black-bg {
  margin-right: 200px;
}

header .slider .slide .imageCont img.without-bg {
  margin-right: auto;
  margin-top: 73px;
}

header .slider .slick-new-prev {
  background: url("../images/Group7.png") no-repeat 100% 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 10px;
  height: 18px;
  border: none;
  position: absolute;
  top: 19px;
  right: 4px;
  z-index: 1;
  cursor: pointer;
}

header .slider .slick-new-prev:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .slider .slick-new-next {
  background: url("../images/Group7.png") no-repeat 100% 0;
  width: 18px;
  height: 36px;
  border: none;
  position: absolute;
  top: 10px;
  right: -18px;
  z-index: 1;
  cursor: pointer;
}

header .slider .slick-new-next:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .contact-info {
  padding: 25px 100px 0 100px;
}

header .contact-info span {
  color: #c6c7c1;
}

header .contact-info span::after {
  background-color: #c6c7c1;
}

header .contact-info button {
  color: #c6c7c1;
}

header .contact-info button:hover {
  color: #af9a68;
}

header .contact-info button:hover::after {
  background-color: #af9a68;
}

header .contact-info button::after {
  background-color: #c6c7c1;
}

.contact-form-section {
  position: absolute;
  right: 0;
  top: 29%;
  height: 380px;
  z-index: 1;
  width: 360px;
  background-color: #212429;
  font-family: "Century Gothic";
  padding: 50px 100px 50px 50px;
}

.contact-form-section h4 {
  color: #af9a68;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 18px;
}

.contact-form-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact-form-section form label {
  width: 100%;
}

.contact-form-section form input {
  background-color: transparent;
  padding-bottom: 4px;
  border: 0;
  border-bottom: 1px solid rgba(175, 154, 104, 0.4);
  width: 100%;
  color: #c6c7c1;
  font-weight: 400;
  font-size: 0.9375rem;
  outline: none;
}

.contact-form-section form input::-webkit-input-placeholder {
  font-size: 11px;
  line-height: 18px;
  color: rgba(175, 154, 104, 0.4);
  font-weight: 100;
  -webkit-text-fill-color: rgba(175, 154, 104, 0.4);
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.contact-form-section form input:-ms-input-placeholder {
  font-size: 11px;
  line-height: 18px;
  color: rgba(175, 154, 104, 0.4);
  font-weight: 100;
  -webkit-text-fill-color: rgba(175, 154, 104, 0.4);
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.contact-form-section form input::-ms-input-placeholder {
  font-size: 11px;
  line-height: 18px;
  color: rgba(175, 154, 104, 0.4);
  font-weight: 100;
  -webkit-text-fill-color: rgba(175, 154, 104, 0.4);
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.contact-form-section form input::placeholder {
  font-size: 11px;
  line-height: 18px;
  color: rgba(175, 154, 104, 0.4);
  font-weight: 100;
  -webkit-text-fill-color: rgba(175, 154, 104, 0.4);
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.contact-form-section form input:focus {
  border-bottom: 2px solid rgba(175, 154, 104, 0.4);
}

.contact-form-section form input:focus::-webkit-input-placeholder {
  font-size: 9px;
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.contact-form-section form input:focus:-ms-input-placeholder {
  font-size: 9px;
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.contact-form-section form input:focus::-ms-input-placeholder {
  font-size: 9px;
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.contact-form-section form input:focus::placeholder {
  font-size: 9px;
  -webkit-transition: font-size .5s ease;
  transition: font-size .5s ease;
}

.contact-form-section form button {
  background-color: #af9a68;
  color: #212429;
  height: 25px;
  width: 150px;
  font-weight: bold;
  line-height: 11px;
  font-size: 13px;
  font-size: 0.8125rem;
  margin: 20px 0 25px;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  border-radius: 2px;
}

.contact-form-section form button:hover {
  background-color: rgba(175, 154, 104, 0.4);
  color: #d2d3cd;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.contact-form-section form button:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(175, 154, 104, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(175, 154, 104, 0.25);
}

.contact-form-section p {
  font-size: 11px;
  line-height: 13px;
  color: #5a595e;
  font-weight: bold;
}

@media screen and (max-width: 1350px) {
  header .black-rectangle {
    right: 81px;
  }
  header .slider .slide div.col-6.first {
    padding-left: 200px;
  }
  header .slider .slide .imageCont img.with-black-bg {
    margin-right: 200px;
  }
  header .contact-form-section {
    width: 340px;
    padding: 50px 70px 50px 50px;
  }
}

@media screen and (max-width: 1220px) {
  header .contact-form-section {
    width: 310px;
    padding: 30px 50px 30px 50px;
    height: 340px;
    top: 21%;
  }
  header .slider {
    margin-top: 0;
  }
  header .header-socials {
    top: 44%;
  }
  header .slider .slide .imageCont img.with-black-bg {
    max-height: 450px;
    margin-right: 200px;
  }
  header .slider .slide .imageCont img.without-bg {
    max-height: 385px;
    margin-top: 45px;
  }
  header .slider .slide div.col-6.first {
    padding-left: 160px;
  }
  header .black-rectangle {
    height: calc(473px - 130px);
  }
  header .contact-info {
    padding: 60px 100px 0 100px;
  }
}

@media screen and (max-width: 1100px) {
  header .contact-form-section {
    width: 271px;
    height: 317px;
    padding: 30px 30px 30px 30px;
  }
  header .black-rectangle {
    width: 488px;
  }
  header .slider .slide .imageCont img.with-black-bg {
    margin-right: 165px;
  }
  header .slider .slide .imageCont img.without-bg {
    max-height: 340px;
  }
}

@media screen and (max-width: 991px) {
  header .contact-form-section {
    display: none;
  }
  header .black-rectangle {
    height: 273px;
    width: 410px;
    top: 31px;
  }
  header .slider .slide .imageCont img.with-black-bg {
    max-height: 340px;
    margin-right: 100px;
  }
  header .slider .slide .imageCont img.without-bg {
    max-height: 306px;
    margin-top: 21px;
  }
  header .header-socials {
    top: 42%;
  }
  header .contact-info {
    padding: 60px 50px 0 50px;
  }
}

@media screen and (max-width: 900px) {
  header .slider .slide div.col-6.imageCont {
    display: none;
  }
  header .slider .slide div.col-6.first {
    padding-left: 0;
    min-width: 100%;
  }
  header .slider .slide .text h1 {
    max-width: 450px;
  }
  header .slider .slide .text p {
    max-width: 400px;
    margin-top: 20px;
  }
  header .slider .slide .text.image-with-bg, header .slider .slide .text.image-without-bg {
    background-repeat: no-repeat;
    background-size: auto 220px;
    background-position: center right;
    height: 290px;
    min-width: 72vw;
    margin: auto;
  }
  header .slider .slide .text.image-without-bg {
    background-image: url("../images/Group52.png");
  }
  header .slider .slide .text.image-with-bg {
    background-image: url("../images/002.png");
  }
  header .slider .slide .buttonGroupe:not(.max-w-900) {
    display: none;
  }
  header .slider .slide .buttonGroupe.max-w-900 {
    display: block;
  }
  header .slider .slide .buttonGroupe.max-w-900 .position-absolute {
    top: 0;
    left: 50%;
  }
}

@media screen and (max-width: 680px) {
  header .slider .slide .text {
    padding: 0 40px;
    text-align: center;
  }
  header .slider .slide .text h1, header .slider .slide .text button.button-link, header .slider .slide .text p {
    max-width: 100%;
  }
  header .slider .slide .text button.button-link {
    margin: 19px auto;
  }
  header .slider .slide .text.image-without-bg {
    background-image: none;
  }
  header .slider .slide .text.image-with-bg {
    background-image: none;
  }
  header .slider .slick-new-prev {
    display: none;
  }
  header .slider .slick-new-next {
    display: none;
  }
  header .contact-info {
    padding: 40px 20px 0 20px;
  }
}

@media screen and (max-width: 500px) {
  header .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  header .contact-info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    line-height: 18px;
  }
  header .contact-info span::after {
    width: 20%;
  }
  header .contact-info button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
  }
  header .header-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: static;
  }
  header .header-socials li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media screen and (min-width: 320px) {
  header .header-socials {
    -webkit-transition: .5s ease top;
    transition: .5s ease top;
  }
  header .black-rectangle {
    -webkit-transition: .5s ease right, .5s ease height;
    transition: .5s ease right, .5s ease height;
  }
  header .contact-info {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
  header .contact-info button {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header .slider {
    -webkit-transition: .5s ease margin;
    transition: .5s ease margin;
  }
  header .slider .slide div.first {
    -webkit-transition: .5s ease padding;
    transition: .5s ease padding;
  }
  header .slider .slide .imageCont img {
    -webkit-transition: .5s ease margin, .5s ease max-height;
    transition: .5s ease margin, .5s ease max-height;
  }
  header .slider .slide .text {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header .slider .slide .text h1 {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header .slider .slick-new-next {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header .slider .slick-new-prev {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .contact-form-section {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  .contact-form-section form input {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

header.page-not-found {
  background-image: url("../images/Icons/broken-tooth.png");
  background-repeat: no-repeat;
  background-position: 84% 50%;
  background-size: auto;
  padding: 240px 0 150px 320px;
  position: relative;
  font-family: "Century Gothic";
}

header.page-not-found .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.page-not-found .text h1 {
  color: #af9a68;
  font-size: 3.125rem;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  header.page-not-found .text h1 {
    font-size: calc(1.4375rem + 2.25vw) ;
  }
}

header.page-not-found .text p {
  color: #d2d3cd;
  font-size: 0.875rem;
  letter-spacing: 0px;
  line-height: 1;
  margin-bottom: 0;
}

header.page-not-found .text .contact-info {
  padding: 35px 0 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header.page-not-found .text .contact-info button {
  color: #c6c7c1;
}

header.page-not-found .text .contact-info button:hover {
  color: #af9a68;
}

header.page-not-found .text .contact-info button:hover::after {
  background-color: #af9a68;
}

header.page-not-found .text .contact-info button::after {
  background-color: #c6c7c1;
}

header.page-not-found .text .contact-info button:first-child {
  padding-left: 0;
}

header.page-not-found .text .contact-info button:nth-child(2) {
  padding: 0 20px;
}

@media screen and (max-width: 1190px) {
  header.page-not-found {
    padding-left: 150px;
  }
}

@media screen and (max-width: 992px) {
  header.page-not-found {
    background-position: 50% 30%, 0 0;
    padding: 240px 90px 150px;
    text-align: center;
  }
  header.page-not-found .text .contact-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  header.page-not-found {
    padding: 240px 50px 150px;
  }
}

@media screen and (max-width: 500px) {
  header.page-not-found {
    background-position: 50% 20%, 0 0;
    padding: 240px 30px 150px;
  }
}

@media screen and (min-width: 320px) {
  header.page-not-found {
    -webkit-transition: .5s ease padding, .5s ease background-position;
    transition: .5s ease padding, .5s ease background-position;
  }
}

header.article-page {
  background-image: url("../images/black-sm-rect-flip.png");
  background-repeat: no-repeat;
  background-position: -5px -100px;
  background-size: calc(100% + 10px) calc(100% + 100px);
  padding: 145px 50px 70px;
  font-family: "Century Gothic";
  text-align: center;
  background-color: #d3d4ce;
}

@media (max-width: 768px) {
  header.article-page {
    padding: 145px 30px 70px;
  }
}

header.clinic-page {
  background-image: url("../images/black-sm-path.png");
  background-repeat: no-repeat;
  background-position: -5px -100px;
  background-size: calc(100% + 10px) calc(100% + 100px);
  padding: 145px 100px 150px;
  font-family: "Century Gothic";
  text-align: center;
  background-color: #d3d4ce;
}

header.clinic-page h1 {
  color: #af9a68;
}

header.clinic-page .contact-info {
  padding: 55px 0 0;
}

header.clinic-page .contact-info span {
  color: #c6c7c1;
}

header.clinic-page .contact-info span::after {
  background-color: #c6c7c1;
}

header.clinic-page .contact-info button {
  color: #c6c7c1;
}

header.clinic-page .contact-info button:hover {
  color: #af9a68;
}

header.clinic-page .contact-info button:hover::after {
  background-color: #af9a68;
}

header.clinic-page .contact-info button::after {
  background-color: #c6c7c1;
}

@media (max-width: 768px) {
  header.clinic-page {
    padding: 145px 30px 70px;
  }
  header.clinic-page .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  header.clinic-page .contact-info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    line-height: 18px;
  }
  header.clinic-page .contact-info span::after {
    width: 20%;
  }
  header.clinic-page .contact-info button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
  }
}

header.contact-page {
  background-image: url("../images/Path1-flip.png");
  background-repeat: no-repeat;
  background-position: -5px -100px;
  background-size: calc(100% + 10px) calc(100% + 100px);
  padding: 145px 100px 290px;
  font-family: "Century Gothic";
  text-align: center;
  background-color: white;
}

header.contact-page section {
  margin-left: 35px;
}

header.contact-page h1 {
  color: #af9a68;
}

header.contact-page .contact-info {
  padding: 55px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.contact-page .contact-info span {
  color: #c6c7c1;
}

header.contact-page .contact-info span::after {
  background-color: #c6c7c1;
}

header.contact-page .contact-info a.big {
  font-size: 1.5625rem;
  line-height: 1;
  color: #d2d3cd;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  header.contact-page .contact-info a.big {
    font-size: calc(1.28125rem + 0.375vw) ;
  }
}

header.contact-page .contact-info a.big:last-of-type {
  margin-bottom: 25px;
}

header.contact-page .contact-info button {
  color: #c6c7c1;
}

header.contact-page .contact-info button.lover-case {
  text-transform: lowercase;
}

header.contact-page .contact-info button:hover {
  color: #af9a68;
}

header.contact-page .contact-info button:hover::after {
  background-color: #af9a68;
}

header.contact-page .contact-info button::after {
  background-color: #c6c7c1;
}

@media (max-width: 768px) {
  header.contact-page {
    padding: 145px 30px 70px;
  }
  header.contact-page section {
    margin-left: 0;
  }
  header.contact-page .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  header.contact-page .contact-info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    line-height: 18px;
  }
  header.contact-page .contact-info span::after {
    width: 20%;
  }
  header.contact-page .contact-info a.big {
    font-size: 18px;
  }
  header.contact-page .contact-info a.big:first-of-type {
    margin-top: 20px;
  }
  header.contact-page .contact-info a.big:last-of-type {
    margin-bottom: 0;
  }
  header.contact-page .contact-info button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
  }
}

header.prices-page {
  background-image: url("../images/Path1-flip.png");
  background-repeat: no-repeat;
  background-position: -5px -100px;
  background-size: calc(100% + 10px) calc(100% + 100px);
  padding: 145px 100px 95px;
  font-family: "Century Gothic";
  text-align: center;
  background-color: #d3d4ce;
}

header.prices-page h1 {
  color: #af9a68;
}

header.prices-page .contact-info {
  padding: 55px 0 0;
}

header.prices-page .contact-info span {
  color: #c6c7c1;
}

header.prices-page .contact-info span::after {
  background-color: #c6c7c1;
}

header.prices-page .contact-info button {
  color: #c6c7c1;
}

header.prices-page .contact-info button:hover {
  color: #af9a68;
}

header.prices-page .contact-info button:hover::after {
  background-color: #af9a68;
}

header.prices-page .contact-info button::after {
  background-color: #c6c7c1;
}

header.prices-page .contact-info button:nth-child(2) {
  margin-left: 67px;
}

@media (max-width: 768px) {
  header.prices-page {
    padding: 145px 30px 70px;
  }
  header.prices-page .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  header.prices-page .contact-info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    line-height: 18px;
  }
  header.prices-page .contact-info span::after {
    width: 20%;
  }
  header.prices-page .contact-info button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
  }
  header.prices-page .contact-info button:nth-child(2) {
    margin-left: 0;
  }
}

header.services-page {
  background-image: url("../images/Path1-flip.png");
  background-repeat: no-repeat;
  background-position: -5px -100px;
  background-size: calc(100% + 10px) calc(100% + 100px);
  padding: 145px 100px 205px;
  font-family: "Century Gothic";
  text-align: center;
}

header.services-page h1 {
  color: #af9a68;
}

header.services-page .services {
  padding: 60px 0 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}

header.services-page .services > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header.services-page .services > div .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.services-page .services > div .content > span {
  min-height: 70px;
}

header.services-page .services > div .content button {
  color: #d2d3cd;
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-transform: none;
}

@media (max-width: 1200px) {
  header.services-page .services > div .content button {
    font-size: calc(1.2625rem + 0.15vw) ;
  }
}

header.services-page .services > div .content button::after {
  margin-top: 12px;
  background-color: #d2d3cd;
}

header.services-page .services > div .content button:hover {
  color: #af9a68;
}

header.services-page .services > div .content button:hover::after {
  background-color: #af9a68;
}

header.services-page .services > div .content ul {
  margin-top: 15px;
}

header.services-page .services > div .content ul li {
  font-size: 12px;
  line-height: 12px;
  color: #af9a68;
  font-weight: bold;
  padding: 6px 0;
  text-align: center;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
  cursor: pointer;
}

header.services-page .services > div .content ul li:hover {
  color: #d2d3cd;
}

@media (max-width: 991px) {
  header.services-page {
    padding: 145px 50px 70px;
  }
}

@media (max-width: 768px) {
  header.services-page {
    padding: 145px 30px 0;
    background-position: 0 0;
    background-size: calc(100% + 10px) calc(100% + 350px);
  }
}

@media (min-width: 320px) {
  header.services-page {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

header.useful-page {
  background-image: url("../images/Path1-flip.png");
  background-repeat: no-repeat;
  background-position: -5px -100px;
  background-size: calc(100% + 10px) calc(100% + 100px);
  padding: 145px 100px 95px;
  font-family: "Century Gothic";
  text-align: center;
  background-color: #d3d4ce;
}

header.useful-page h1 {
  color: #af9a68;
}

header.useful-page .contact-info {
  padding: 55px 0 0;
}

header.useful-page .contact-info span {
  color: #c6c7c1;
}

header.useful-page .contact-info span::after {
  background-color: #c6c7c1;
}

header.useful-page .contact-info button {
  color: #c6c7c1;
}

header.useful-page .contact-info button:hover {
  color: #af9a68;
}

header.useful-page .contact-info button:hover::after {
  background-color: #af9a68;
}

header.useful-page .contact-info button::after {
  background-color: #c6c7c1;
}

header.useful-page .contact-info button:nth-child(2) {
  margin-left: 67px;
}

@media (max-width: 768px) {
  header.useful-page {
    padding: 145px 30px 70px;
  }
  header.useful-page .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  header.useful-page .contact-info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    line-height: 18px;
  }
  header.useful-page .contact-info span::after {
    width: 20%;
  }
  header.useful-page .contact-info button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
  }
  header.useful-page .contact-info button:nth-child(2) {
    margin-left: 0;
  }
}

@media (min-width: 320px) {
  header.useful-page {
    -webkit-transition: padding .5s ease;
    transition: padding .5s ease;
  }
  header.useful-page .contact-info {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.useful-page .contact-info span {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.useful-page .contact-info button {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

header.categoryItem-page {
  background-image: url("../images/Path1.png");
  background-repeat: no-repeat;
  background-position: -5px -100px;
  background-size: calc(100% + 10px) calc(100% + 100px);
  padding: 145px 100px 95px;
  font-family: "Century Gothic";
  text-align: center;
  position: relative;
  z-index: 2;
}

header.categoryItem-page h1 {
  color: #af9a68;
}

header.categoryItem-page .contact-info {
  padding: 55px 0 0;
}

header.categoryItem-page .contact-info span {
  color: #c6c7c1;
}

header.categoryItem-page .contact-info span::after {
  background-color: #c6c7c1;
}

header.categoryItem-page .contact-info button {
  color: #c6c7c1;
}

header.categoryItem-page .contact-info button:hover {
  color: #af9a68;
}

header.categoryItem-page .contact-info button:hover::after {
  background-color: #af9a68;
}

header.categoryItem-page .contact-info button::after {
  background-color: #c6c7c1;
}

header.categoryItem-page .contact-info button:nth-child(2) {
  margin-left: 67px;
}

@media (max-width: 768px) {
  header.categoryItem-page {
    padding: 145px 30px 70px;
  }
  header.categoryItem-page .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  header.categoryItem-page .contact-info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    line-height: 18px;
  }
  header.categoryItem-page .contact-info span::after {
    width: 20%;
  }
  header.categoryItem-page .contact-info button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
  }
  header.categoryItem-page .contact-info button:nth-child(2) {
    margin-left: 0;
  }
}

@media (min-width: 320px) {
  header.categoryItem-page {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.categoryItem-page .contact-info {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.categoryItem-page .contact-info span {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  header.categoryItem-page .contact-info button {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
}

header.services-category-page {
  background-image: url("../images/Path1-flip.png");
  background-repeat: no-repeat;
  background-position: -5px -100px;
  background-size: calc(100% + 10px) calc(100% + 100px);
  background-color: #d3d4ce;
  padding: 240px 250px 150px 320px;
  position: relative;
  font-family: "Century Gothic";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.services-category-page .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 3;
}

header.services-category-page .text h1 {
  text-align: left;
}

header.services-category-page .text p {
  color: #d2d3cd;
  font-size: 0.875rem;
  letter-spacing: 0px;
  line-height: 1;
  margin-bottom: 0;
}

header.services-category-page .text .contact-info {
  padding: 35px 0 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header.services-category-page .text .contact-info button {
  color: #c6c7c1;
}

header.services-category-page .text .contact-info button:hover {
  color: #af9a68;
}

header.services-category-page .text .contact-info button:hover::after {
  background-color: #af9a68;
}

header.services-category-page .text .contact-info button::after {
  background-color: #c6c7c1;
}

header.services-category-page .text .contact-info button:first-child {
  padding-left: 0;
}

header.services-category-page .text .contact-info button:nth-child(2) {
  padding: 0 20px;
}

header.services-category-page > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

header.services-category-page > div img {
  max-width: 100px;
}

header.services-category-page > div button {
  color: #d2d3cd;
  margin-top: 20px;
}

header.services-category-page > div button::after {
  background-color: #d2d3cd;
}

header.services-category-page > div button:hover {
  color: #af9a68;
  -webkit-transition: .5s ease color;
  transition: .5s ease color;
}

header.services-category-page > div button:hover::after {
  background-color: #af9a68;
  width: 100%;
  -webkit-transition: .5s ease width, .5s ease background-color;
  transition: .5s ease width, .5s ease background-color;
}

@media screen and (max-width: 1190px) {
  header.services-category-page {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (max-width: 991px) {
  header.services-category-page {
    padding: 240px 90px 150px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header.services-category-page .text .contact-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header.services-category-page > div {
    min-width: 100%;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  header.services-category-page {
    padding: 240px 50px 150px;
  }
  header.services-category-page .text h1 {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  header.services-category-page {
    padding: 240px 30px 150px;
  }
}

@media screen and (min-width: 320px) {
  header.services-category-page {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.services-category-page .text h1 {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.services-category-page .text .contact-info {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.services-category-page > div {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}

header.doctors-page {
  background-image: url("../images/Path1.png");
  background-repeat: no-repeat;
  background-position: -5px -100px;
  background-size: calc(100% + 10px) calc(100% + 100px);
  padding: 145px 50px 70px;
  font-family: "Century Gothic";
  text-align: center;
  background-color: #d3d4ce;
}

header.doctors-page h1 {
  color: #af9a68;
}

header.doctors-page .contact-info {
  padding: 55px 0 0;
}

header.doctors-page .contact-info span {
  color: #c6c7c1;
}

header.doctors-page .contact-info span::after {
  background-color: #c6c7c1;
}

header.doctors-page .contact-info button {
  color: #c6c7c1;
}

header.doctors-page .contact-info button:hover {
  color: #af9a68;
}

header.doctors-page .contact-info button:hover::after {
  background-color: #af9a68;
}

header.doctors-page .contact-info button::after {
  background-color: #c6c7c1;
}

header.doctors-page .contact-info button:nth-child(2) {
  margin-left: 67px;
}

header.doctors-page .doctors-header {
  max-width: 1035px;
  margin: 100px auto;
}

header.doctors-page .doctors-header .doctors-slider .slide {
  margin: 0 10px;
}

header.doctors-page .doctors-header .doctors-slider .slide img {
  max-width: 200px;
  max-height: 265px;
}

header.doctors-page .doctors-header .doctors-slider .slide .hide .name {
  font-size: 1.25rem;
  line-height: 1;
  color: #af9a68;
  margin: 20px 0 2px;
}

header.doctors-page .doctors-header .doctors-slider .slide .hide .post {
  font-size: 12px;
  line-height: 12px;
  color: #af9a68;
  font-weight: bold;
  margin: 0;
}

header.doctors-page .doctors-header .doctors-slider .slide .hide div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

header.doctors-page .doctors-header .doctors-slider .slide .hide div .experience {
  font-size: 12px;
  line-height: 12px;
  color: #b6b7b2;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

header.doctors-page .doctors-header .doctors-slider .slide .hide div .line {
  position: relative;
  width: calc(100% - 10px);
  margin: 0 10px;
}

header.doctors-page .doctors-header .doctors-slider .slide .hide div .line::before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  height: 1px;
  top: 50%;
  background-color: #b6b7b2;
}

header.doctors-page .doctors-header .dark-arrows .position-absolute {
  top: 20px;
  right: 50%;
}

header.doctors-page .doctors-header .dark-arrows .slick-new-prev {
  background: url("../images/Group7.png") no-repeat 100% 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  width: 10px;
  height: 18px;
  border: none;
  position: absolute;
  top: 19px;
  right: 4px;
  z-index: 1;
  cursor: pointer;
}

header.doctors-page .doctors-header .dark-arrows .slick-new-prev:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header.doctors-page .doctors-header .dark-arrows .slick-new-next {
  background: url("../images/Group7.png") no-repeat 100% 0;
  width: 18px;
  height: 36px;
  border: none;
  position: absolute;
  top: 10px;
  right: -18px;
  z-index: 1;
  cursor: pointer;
}

header.doctors-page .doctors-header .dark-arrows .slick-new-next:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (max-width: 768px) {
  header.doctors-page {
    padding: 145px 30px 70px;
  }
  header.doctors-page .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 20px;
  }
  header.doctors-page .contact-info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    line-height: 18px;
  }
  header.doctors-page .contact-info span::after {
    width: 20%;
  }
  header.doctors-page .contact-info button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
  }
  header.doctors-page .contact-info button:nth-child(2) {
    margin-left: 0;
  }
}

@media screen and (min-width: 320px) {
  header.doctors-page {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.doctors-page .contact-info {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.doctors-page .contact-info span {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
  header.doctors-page .contact-info button {
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
  }
}
/*# sourceMappingURL=header.css.map */