
$light-text-color: #c6c7c1;
$light-text-color-2: #d2d3cd;
$active-color: #af9a68;
$active-alpha: rgba($color: $active-color, $alpha: .40);
$centuryGothicFont: "Century Gothic";

$clip-bg-color: #d3d4ce;

$dark-light: #212429;
$text-fade-color: #5a595e;

$dark-text-color: #0c0d07;
